<div>
  <div class="imgBox">
    <p>
      <span class="user-q">Q：</span>
      <span class="user-a">如果注册时宝宝信息填错了怎么办？</span>
    </p>
    <p>
      <span class="user-q">A：</span>
      <span class="user-a"
        >在完成问卷前，宝宝信息都可以修改。如果提交了问卷，宝宝的年龄将不可修改，如果想要修改可以再添加一个新的宝宝信息。</span
      >
    </p>
  </div>

  <div class="imgBox">
    <p>
      <span class="user-q">Q：</span>
      <span class="user-a">家长的账户里可以同时注册几个宝宝呢？</span>
    </p>
    <p>
      <span class="user-q">A：</span>
      <span class="user-a">用户账号可以添加3个宝宝信息</span>
    </p>
  </div>
  <div class="imgBox">
    <p>
      <span class="user-q">Q：</span>
      <span class="user-a">家长答题的时候需要注意什么？</span>
    </p>
    <p>
      <span class="user-q">A：</span>
      <span class="user-a">
        1.答题过程请勿退出，之前填写的答案将都会清空 <br />
        2.完成问卷后需要确认每一道题都完成问答，如果有答题遗漏系统会提醒用户完成
      </span>
    </p>
  </div>
  <div class="imgBox">
    <p>
      <span class="user-q">Q：</span>
      <span class="user-a">关于打印功能</span>
    </p>
    <p>
      <span class="user-q">A：</span>
      <span class="user-a"
        >打印用户结果页和游戏活动页可以在宝宝库右侧进行选择。一般来说，打印页面会自动选择常规连接的打印机，若连接不正确，注意调整。另外如果想另存为pdf文档，也可以在这里选择后保存。</span
      >
    </p>
    <img src="assets/img/use1.png" />
    <img src="assets/img/use2.png" />
    <img src="assets/img/use3.png" />
  </div>
  <div class="imgBox">
    <p>
      <span class="user-q">Q：</span>
      <span class="user-a">一个手机号有多个孩子怎么办（多胎）？</span>
    </p>
    <p>
      <span class="user-q">A：</span>
      <span class="user-a">
        如果家长有多个孩子并且希望只用一个手机来完成答题，有两种方法可以解决这个问题<br />
        1.如果是用电脑答题，可以在企业端的“添加宝宝”中“直接答题”选择“新用户”<br />
        2.如果是用手机答题，在“添加宝宝”中选择“ASQ”或“ASQ：SE”
      </span>
    </p>
    <img src="assets/img/use4.png" class="img4" />
    <p>
      <span class="user-q"></span>
      <span class="user-a"
        >在手机端页面中的右上角可以添加新的宝宝信息（一个手机号可以添加3个宝宝）</span
      >
    </p>
  </div>
</div>
