<div class="asq3-entry">
  <div class="">
    <div style="width: 100%; margin: 10px 0">
      <button class="hw-small-btn gray-btn">
        <img src="assets/img/back.png" alt="" />返回
      </button>
    </div>
    <div class="badge-title">
      <div>
        <span class="st-span"> <strong>2</strong> 个月问卷 </span>
        <span class="m-span">适用于1个月0天至2个月30天宝宝</span>
      </div>
      <div style="display: flex; align-items: flex-end">
        <img src="assets/img/ASQ3.png" alt="" />
      </div>
    </div>
  </div>
  <div class="exp-audio">
    <div class="green-exp">
      点击
      <img src="assets/img/icon_audio.png" alt="" style="width: 30px" />
      辅助阅读
      <audio src="http://os.jtuntech.com/asq/audio/start-1.mp3"></audio>
    </div>
    接下来的问卷，是询问孩子 的日常表现。问卷中问到的问题，您的孩子
    有些可能已经能完成或已经表现出来，有些可能不能完成或您还没有注意到。
    对每个问题，请您在“是”即经常能，“有时是”即刚刚会还不熟练或有时会有时不会，“否”即还不会，三个选项中勾选一个。
  </div>
  <div class="notice">
    <h4>
      注意事项 （逐一阅读，并点击“ <img src="assets/img/chk.png" alt="" />”）
    </h4>
    <ul class="chk-list">
      <li>
        <input type="checkbox" />
        在勾选每个问题之前，请务必注意<em class="bname">孩子</em>
        是否有这项能力，即曾经表现过或已经做到过；
      </li>
      <li>
        <input type="checkbox" />
        对您不明确<em class="bname">孩子</em> 实际能力的问题，请您像和<em
          class="bname"
          >孩子</em
        >
        做游戏似的测试<em class="bname">孩子</em>
        ；
      </li>
      <li>
        <input type="checkbox" />
        请在<em class="bname">孩子</em>
        睡眠充足、吃饭并愉快时进行测试；
      </li>
      <li>
        <input type="checkbox" />
        请点击“帮助”（<img src="assets/img/icon_audio.png" alt="" /> 、<img
          src="assets/img/icon_img.png"
          alt=""
        />），以助您更好地理解；
      </li>
    </ul>
  </div>
</div>
