<div class="quick-box inner-popped">
  <div class="popped-main quickBox">
    <p class="title">使用场景</p>
    <ol type="1">
      <li>
        <b>直接筛查</b
        >功能适用于在医院或者其他企业机构现场，筛查用户可以直接使用PC机或平板，通过使用企业版ASQ系统完成筛查。
      </li>
      <li>
        <b>扫码筛查</b
        >功能适用于在医院或者其他企业机构现场，可以允许多个筛查用户同时筛查。直接选择问卷类型获取对应的二维码，打开微信的‘扫一扫’功能，扫描该二维码。该二维码无论是否提交信息，只能被扫描一次，家长在手机端输入手机号并获取验证码，最后使用手机微信完成筛查。
      </li>
      <li>
        <b>短信筛查</b
        >功能适用于筛查用户不在医院或者其他企业机构现场的情况，筛查用户可以在家或者其他地方通过短信收到筛查链接，打开链接后就可以直接完成筛查。
      </li>
    </ol>
    <p class="title">Q&A</p>
    <p><b>Q：</b>扫码筛查和短信筛查各有什么优势呢？</p>
    <p>
      <b>A：</b
      >扫码筛查适用于专业人员和筛查用户都在现场的情况，完成问卷即可现场打印报告；短信筛查适用于筛查用户不在医院和企业机构现场的情况，完成问卷后再去医院或企业机构查询并打印报告。
    </p>
    <p style="margin-top: 10px">
      <b>Q：</b>用户在医院或者其他企业机构的时候选择哪一种筛查方式比较好呢？
    </p>
    <p>
      <b>A：</b
      >扫码筛查更合适。因为短信筛查的链接生成需要一定的时间，所以用户收到短信会存在一定的延迟，而扫码筛查所收到的短信验证码会比较快，使用扫码筛查会更省时。
    </p>
  </div>
</div>
