<div class="baby-info-manage vertical-layout">
  <!-- <div>
    <select></select>
    <select></select>
    <select></select>
  </div> -->
  <ng-container *ngIf="showConfirm">
    <howell-confirm-dialog
      (dialogMsgEvent)="dialogMsgEvent($event)"
      [dialogModel]="dialogModel"
    >
    </howell-confirm-dialog>
  </ng-container>

  <ng-container *ngIf="showExist">
    <howell-confirm-dialog
      [dialogModel]="dialogModelExist"
      (dialogMsgEvent)="dialogEditMsgEvent($event)"
    >
    </howell-confirm-dialog>
  </ng-container>

  <div class="vertical-header">
    <div style="width: 100%">
      <button
        class="hw-small-btn gray-btn"
        (click)="goBack()"
        *ngIf="source == 1"
      >
        <img src="assets/img/back.png" alt="" />返回
      </button>
      <p class="chart-title">
        <img src="assets/img/icon_edit.png" alt="" />
        快来完善宝宝的信息和您的信息来测出宝宝的健康状况吧！
      </p>
    </div>
  </div>
  <div class="vertical-main hidescroll">
    <div class="addr-btns">
      <div
        class="addr-item"
        [class.active]="i == currentIndex"
        (click)="currentIndex = i"
        *ngFor="let babyGroup of babyGroupArr; let i = index"
      >
        <span>宝宝 {{ i + 1 | numtochina }}</span>
        <!-- -->
        <div
          class="close-btn"
          *ngIf="i >= babyInMember.length && i != 0"
          (click)="deleteBabyGroup(i, $event)"
        >
          <i class="howell-icon-Close"></i>
        </div>
      </div>
      <div
        class="plus-btn"
        (click)="addBabyGroup()"
        *ngIf="babyGroupArr.length < maxLength"
      >
        添加宝宝<i class="howell-icon-plus2"></i>
      </div>
    </div>
    <ng-container *ngFor="let babyGroup of babyGroupArr; let i = index">
      <form [formGroup]="babyGroup" style="margin: 0" *ngIf="currentIndex == i">
        <div class="baby-box">
          <div
            class="green-title large-title underline-title"
            style="margin-bottom: 10px; justify-content: space-between"
          >
            <div class="left-wrapper">宝宝信息 <i>(注：*为必填项)</i></div>
            <div class="right-wrapper" *ngIf="i < babyInMember.length">
              <button
                class="hw-normal-btn green-btn"
                (click)="changeBabyInfo(babyGroup)"
              >
                {{ babyGroup.value.editBabyInfo ? "正在修改" : "修改信息" }}
              </button>
            </div>
          </div>

          <div class="form-wrapper" style="margin-top: 25px">
            <div class="form-group">
              <label class="control-label col-sm-2">
                <span>*</span> 姓名:</label
              >
              <div class="col-sm-3">
                <input type="text" formControlName="name" />
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">身份信息: </label>
              <div class="col-sm-3">
                <input type="text" formControlName="identityInfo" />
              </div>
              <div class="col-sm-2 form-group-ma" *ngIf="source != 1"></div>
              <div class="col-sm-2 form-group-ma setselect">
                <select formControlName="identityType">
                  <option value="儿童身份证">儿童身份证</option>
                  <option value="父亲身份证">父亲身份证</option>
                  <option value="母亲身份证">母亲身份证</option>
                  <option value="诊疗卡号">诊疗卡号</option>
                  <option value="诊疗卡号">病历号</option>
                  <option value="诊疗卡号">其他</option>
                </select>
              </div>
              <label
                class="control-label col-sm-2 form-group-ma"
                style="text-align: left"
              >
                (选填)
              </label>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2">
                <span>*</span> 性别:</label
              >
              <div class="col-sm-3">
                <label
                  ><input
                    type="radio"
                    formControlName="gender"
                    [value]="Gender.Male"
                  />男</label
                >&nbsp;&nbsp;&nbsp;
                <label
                  ><input
                    type="radio"
                    formControlName="gender"
                    [value]="Gender.Female"
                  />女</label
                >
              </div>
            </div>

            <!-- <div class="form-group">
              <label class="control-label col-sm-2">
                <span>*</span> 出生日期:</label
              >
              <div class="col-sm-5">
                <input
                  type="date"
                  DateTimePicker
                  [format]="dateFormat"
                  (change)="changeBirthday($event, babyGroup)"
                  formControlName="birthday"
                />
              </div>
            </div> -->
            <div class="form-group">
              <label class="control-label col-sm-2">
                <span>*</span> 出生日期:</label
              >
              <div class="col-sm-9">
                <app-date-picker
                  [disabled]="babyGroupArr[currentIndex].getRawValue().editBabyBirthday==1?true:!true"
                  [year]="
                    +babyGroupArr[currentIndex]
                      .getRawValue()
                      .birthday.split('-')[0]
                  "
                  [month]="
                    +babyGroupArr[currentIndex]
                      .getRawValue()
                      .birthday.split('-')[1]
                  "
                  [date]="
                    +babyGroupArr[currentIndex]
                      .getRawValue()
                      .birthday.split('-')[2]
                  "
                  (pickerChange)="pickerChange($event, babyGroup)"
                ></app-date-picker>
              </div>
            </div>
            <!-- <div class="form-group">
              <label class="control-label col-sm-2">
                <span>*</span> 筛查时间:</label
              >
              <div class="col-sm-3">
                <input
                  type="date"
                  readonly
                  DateTimePicker
                  [format]="dateFormat"
                  formControlName="surveyTime"
                />
              </div>
            </div> -->
            <div class="form-group" [hidden]="source!=1">
              <label class="control-label col-sm-2">
                <span>*</span> 筛查时间:</label
              >
              <div class="col-sm-9">
                <app-date-picker
                  [disabled]="babyGroupArr[currentIndex].getRawValue().editBabysurveyTime==1?true:!true"
                  [year]="
                    +babyGroupArr[currentIndex]
                      .getRawValue()
                      .surveyTime.split('-')[0]
                  "
                  [month]="
                    +babyGroupArr[currentIndex]
                      .getRawValue()
                      .surveyTime.split('-')[1]
                  "
                  [date]="
                    +babyGroupArr[currentIndex]
                      .getRawValue()
                      .surveyTime.split('-')[2]
                  "
                  (pickerChange)="pickerChange2($event, babyGroup)"
                ></app-date-picker>
              </div>
            </div>

            <div
              class="form-group"
              style="align-items: flex-start"
              [hidden]="
              (
                +rectify(
                  babyGroupArr[currentIndex].getRawValue().birthday,
                  babyGroupArr[currentIndex].getRawValue().surveyTime,
                  0,
                  0
                ).split('月')[0] > 24
              )
            "
              
            >
              <label class="control-label col-sm-2">
                <div><span>*</span>是否早产:</div>
                <div>（提前3周以上出生）</div>
              </label>
              <div class="col-sm-3">
                <label>
                  <input
                    [disabled]="babyGroupArr[currentIndex].getRawValue().isAnswer==1?true:!true"
                    type="radio"
                    formControlName="premature"
                    value="是"
                  />是
                </label>
                &nbsp;&nbsp;&nbsp;
                <label>
                  <input
                   [disabled]="babyGroupArr[currentIndex].getRawValue().isAnswer==1?true:!true"
                    type="radio"
                    formControlName="premature"
                    value="否"
                  />否
                </label>
              </div>
            </div>
            <div
              class="form-group"
              [hidden]="!(babyGroupArr[currentIndex].getRawValue().premature == '是')"
              
            >
              <label class="control-label col-sm-2">
                <div><span>*</span>若早产，请填写孕周:</div>
              </label>
              <div class="col-sm-2">
                <select 
                  [disabled]="babyGroupArr[currentIndex].getRawValue().isAnswer==1?true:!true"
                  formControlName="prematrueweek">
                  <option value="0" disabled>周</option>
                  <option value="36">36周</option>
                  <option value="35">35周</option>
                  <option value="34">34周</option>
                  <option value="33">33周</option>
                  <option value="32">32周</option>
                  <option value="31">31周</option>
                  <option value="30">30周</option>
                  <option value="29">29周</option>
                  <option value="28">28周</option>
                  <option value="27">27周</option>
                  <option value="26">26周</option>
                  <option value="25">25周</option>
                  <option value="24">24周</option>
                  <option value="23">23周</option>
                  <option value="22">22周</option>
                  <option value="21">21周</option>
                  <option value="20">20周</option>
                  <option value="19">19周</option>
                </select>
              </div>
              <div class="col-sm-2">
                <select
                  [disabled]="babyGroupArr[currentIndex].getRawValue().isAnswer==1?true:!true"
                  formControlName="prematrueday">
                  <option value="0" disabled>天</option>
                  <option value="6">6天</option>
                  <option value="5">5天</option>
                  <option value="4">4天</option>
                  <option value="3">3天</option>
                  <option value="2">2天</option>
                  <option value="1">1天</option>
                  <option value="0">0天</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2">
                <div>出生时体重:<br />(注:1斤=500克)</div>
              </label>
              <div class="col-sm-3">
                <input
                  class="form-control"
                  type="number"
                  formControlName="weight"
                />
              </div>
              <div>&nbsp;克</div>
            </div>
            <div class="form-group" style="align-items: flex-start">
              <label class="control-label col-sm-2">
                <div><span>*</span>出生时情况:</div>
              </label>
              <div class="col-sm-3" formGroupName="bornCondition">
                <div class="item">
                  <div>
                    <label
                      ><input
                        type="radio"
                        formControlName="isShun"
                        value="是"
                      />顺产</label
                    >
                  </div>
                  <div>
                    <label
                      ><input
                        type="radio"
                        formControlName="isShun"
                        value="否"
                      />剖腹产</label
                    >
                  </div>
                </div>
                <div class="item">
                  <div>
                    <label>
                      <input
                        type="radio"
                        formControlName="isChanqian"
                        value="是"
                        (click)="checkIsChanqian($event)"
                      />产钳助产
                    </label>
                  </div>
                  <div>
                    <label
                      ><input
                        type="radio"
                        formControlName="isChanqian"
                        value="否"
                        (click)="checkIsChanqian($event)"
                      />吸引器助产</label
                    >
                  </div>
                </div>
                <div class="item">
                  <div>
                    <label
                      ><input
                        type="radio"
                        formControlName="isMulti"
                        value="是"
                        (click)="checkIsMulti($event)"
                      />双胞胎</label
                    >
                  </div>

                  <div>
                    <label
                      ><input
                        type="radio"
                        formControlName="isMulti"
                        value="否"
                        (click)="checkIsMulti($event)"
                      />多胞胎</label
                    >
                  </div>
                </div>
                <div>
                  <span>其他异常情况</span>
                  <textarea
                    cols="30"
                    rows="5"
                    formControlName="abnormal"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-container>

    <hr />
    <div class="member-box">
      <div
        class="green-title large-title underline-title"
        style="margin-bottom: 10px; justify-content: space-between"
      >
        <div class="left-wrapper">完成问卷人信息</div>
        <div class="right-wrapper" *ngIf="member">
          <button class="hw-normal-btn green-btn" (click)="changeMemberInfo()">
            {{ editMemberInfo ? "正在修改" : "修改信息" }}
          </button>
        </div>
      </div>

      <form [formGroup]="memberGroup">
        <div class="form-wrapper" style="margin-top: 25px">
          <div class="form-group">
            <label class="control-label col-sm-2"> 姓名:</label>
            <div class="col-sm-3">
              <input class="" type="text" formControlName="name" />
            </div>
            <label class="control-label col-sm-2 form-group-ma"
              ><span>*</span>您是宝宝的:
            </label>
            <div class="col-sm-2 form-group-ma setselect">
              <select formControlName="relation">
                <option value="" disabled>请选择</option>
                <option value="父亲">父亲</option>
                <option value="母亲">母亲</option>
                <option value="父亲和母亲">父亲和母亲</option>
                <option value="照养人">照养人</option>
                <option value="老师">老师</option>
                <option value="祖父母">祖父母</option>
                <option value="其他">其他</option>
              </select>
            </div>
          </div>
          <div class="form-group" data-toggle="distpicker" id="target">
            <label class="control-label col-sm-2">省:</label>
            <div class="col-sm-2 setselect1">
              <select
                #provinceRef
                formControlName="province"
                (change)="changeProvince(provinceRef.value)"
              ></select>
            </div>
            <label class="control-label">市:</label>
            <div class="col-sm-2 setselect1">
              <select
                #cityRef
                formControlName="city"
                (change)="changeCity(cityRef.value)"
              ></select>
            </div>
            <label class="control-label form-group-ma col-sm-2"
              >地区(县):</label
            >
            <div class="col-sm-2 form-group-ma setselect1">
              <select
                #countyRef
                formControlName="county"
                (change)="changeCounty(countyRef.value)"
              ></select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2">
              <span>*</span> 手机号:</label
            >
            <div class="col-sm-3">
              <input type="number" formControlName="phone" maxlength="11" />
            </div>

            <label class="control-label col-sm-2" *ngIf="moreDetail">
              通信地址:</label
            >
            <div class="col-sm-3" *ngIf="moreDetail">
              <input type="text" formControlName="address" />
            </div>
          </div>
          <div class="form-group" *ngIf="moreDetail">
            <label class="control-label col-sm-2"> 电子邮箱:</label>
            <div class="col-sm-3">
              <input type="text" formControlName="email" />
            </div>

            <label class="control-label col-sm-2"> 邮政编码:</label>
            <div class="col-sm-3">
              <input type="text" formControlName="postCode" />
            </div>
          </div>
          <div class="form-group" *ngIf="moreDetail">
            <label class="control-label col-sm-2"> 是否有人协助完成:</label>
            <div class="col-sm-10">
              <label>
                <input
                  type="radio"
                  formControlName="isHelp"
                  value="0"
                />是 </label
              >&nbsp;&nbsp;&nbsp;
              <label
                ><input
                  type="radio"
                  formControlName="isHelp"
                  value="1"
                />否</label
              >&nbsp;&nbsp;&nbsp;若有,请列出帮助完成问卷人的姓名，与宝宝的关系或身份
              <input type="text" class="col-sm-3" formControlName="helpInfo" />
            </div>
          </div>
          <div class="form-group" *ngIf="moreDetail">
            <label class="control-label col-sm-2"> 母亲职业:</label>
            <div class="col-sm-3">
              <input type="text" formControlName="motherJob" />
            </div>

            <label class="control-label col-sm-2"> 父亲职业:</label>
            <div class="col-sm-3">
              <input type="text" formControlName="fatherJob" />
            </div>
          </div>
          <div class="form-group" *ngIf="moreDetail">
            <label class="control-label col-sm-2">母亲文化程度:</label>
            <div class="col-sm-2">
              <select formControlName="motherDegree">
                <option value="">请选择</option>

                <option value="博士">博士</option>
                <option value="硕士">硕士</option>
                <option value="本科">本科</option>
                <option value="专科">专科</option>
                <option value="高中">高中</option>
                <option value="初中">初中</option>
                <option value="小学及以下">小学及以下</option>
              </select>
            </div>
            <label class="control-label">父亲文化程度:</label>
            <div class="col-sm-2">
              <select formControlName="fatherDegree">
                <option value="">请选择</option>

                <option value="博士">博士</option>
                <option value="硕士">硕士</option>
                <option value="本科">本科</option>
                <option value="专科">专科</option>
                <option value="高中">高中</option>
                <option value="初中">初中</option>
                <option value="小学及以下">小学及以下</option>
              </select>
            </div>
            <label class="control-label">主要照看者文化程度:</label>
            <div class="col-sm-2">
              <select formControlName="otherDegree">
                <option value="">请选择</option>

                <option value="博士">博士</option>
                <option value="硕士">硕士</option>
                <option value="本科">本科</option>
                <option value="专科">专科</option>
                <option value="高中">高中</option>
                <option value="初中">初中</option>
                <option value="小学及以下">小学及以下</option>
              </select>
            </div>
          </div>

          <!-- <div class="form-group">
            <label class="control-label col-sm-2">
              <span>*</span> 出生日期:</label>
            <div class="col-sm-5">
              <app-date-picker [disabled]="babyGroupArr[currentIndex].getRawValue().id!=''?true:!true"
                [year]="+babyGroupArr[currentIndex].getRawValue().birthday.split('-')[0]"
                [month]="+babyGroupArr[currentIndex].getRawValue().birthday.split('-')[1]"
                [date]="+babyGroupArr[currentIndex].getRawValue().birthday.split('-')[2]"
                (pickerChange)="pickerChange($event, babyGroup)"></app-date-picker>
            </div>
          </div>
          <div class="form-group" *ngIf="moreDetail">
            <label class="control-label col-sm-2"> 母亲出生日期:</label>
            <div class="col-sm-3">
              <input type="text" DateTimePicker [format]="dateFormat" formControlName="motherBirth" />
            </div>
          </div> -->
          <div class="form-group" *ngIf="moreDetail">
            <label class="control-label col-sm-2"> 母亲出生日期:</label>
            <div class="col-sm-9">
              <app-date-picker
                [disabled]="memberChange"
                [year]="getMotherBirth().year"
                [month]="getMotherBirth().month"
                [date]="getMotherBirth().date"
                (pickerChange)="pickerChange3($event, memberGroup)"
              ></app-date-picker>
            </div>
          </div>
          <div class="form-group" *ngIf="moreDetail">
            <label class="control-label col-sm-2"> 父亲出生日期:</label>
            <div class="col-sm-9">
              <app-date-picker
                [disabled]="memberChange"
                [year]="getFatherBirth().year"
                [month]="getFatherBirth().month"
                [date]="getFatherBirth().date"
                (pickerChange)="pickerChange4($event, memberGroup)"
              ></app-date-picker>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="btnAddf" (click)="moreDetail = !moreDetail">
      <ng-container *ngIf="moreDetail">
        隐藏更多信息
        <img
          src="assets/img/icon_minus.png"
          alt=""
          style="width: 14px; height: 14px; margin-left: 2px"
        />
      </ng-container>
      <ng-container *ngIf="!moreDetail">
        显示更多信息
        <img src="assets/img/icon_add.png" alt="" />
      </ng-container>
    </div>

    <button
      class="hw-normal-btn green-btn"
      style="margin: 20px auto"
      (click)="onSubmitFloat(1)"
    >
      开始答题
    </button>
  </div>
  <toast-window [hidden]="!float">
    <pointer-box
      [getfloat]="float"
      (getparent)="onSubmitFloat($event)"
      #Pointer
    ></pointer-box>
  </toast-window>
</div>
