<div class="baby-info-operate inner-popped">
  <div class="popped-main">
    <div class="form-wrapper">
      <form class="hw-form vertical">
        <div class="hw-form-group">
          <div class="title">问卷年龄</div>
          <div class="content questAge">
            <select name="age" class="" [(ngModel)]="searchInfo.QuestMonth">
              <option value="" disabled>请选择</option>
              <option *ngFor="let age of AGE_DATE; let i= index;" [value]="i">
                {{ age }}
              </option>
            </select>
          </div>
        </div>
        <div class="hw-form-group">
          <div class="title">问卷完成日期</div>
          <div class="content questDate">
            <input
              type="text"
              readonly
              DateTimePicker
              [format]="dateFormat"
              [date]="searchInfo.BeginTime"
              (change)="changeBegin($event)"
              class="hw-form-control hw-form-input"
            />
            <span>-</span
            ><input
              type="text"
              readonly
              DateTimePicker
              [format]="dateFormat"
              [date]="searchInfo.EndTime"
              (change)="changeEnd($event)"
              class="hw-form-control hw-form-input"
            />
          </div>
        </div>
        <div class="hw-form-group">
          <div class="title">医生姓名</div>
          <div class="content questDoc">
            <ul>
              <ng-container *ngFor="let item of doctors; let i = index;">
                <li [class.active]="item.Status" [attr.Index]="i"  (click)="chooseDoctor($event)">{{item.Name}}</li>
              </ng-container>
              
            </ul>
          </div>
        </div>
        <div class="hw-form-group">
          <div class="title">状态</div>
          <div class="content">
            <ul>
              <li [class.active]="searchInfo.Status == 1" [attr.Index]="1" (click)="chooseStatus($event)">已完成</li>
              <li [class.active]="searchInfo.Status == 0" [attr.Index]="0" (click)="chooseStatus($event)">未归档</li>
            </ul>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="popped-footer">
    <div class="popped-footer-item">
      <button class="hw-normal-btn reverse-green-btn" (click)="reSet()">重置</button>
      <button class="hw-normal-btn green-btn" (click)="onSubmit()">完成</button>
    </div>
  </div>
</div>
