*{margin:0px;padding:0px;}
/* .container{
    width: 996px;
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    font-family:"微软雅黑",'Microsoft YaHei','华文黑体','STHeiti','宋体',helvetica, arial, verdana, sans-serif;
	background-color: #fff;
} */
.container {
    width: 100%;
    margin: 0 auto;
    max-width: 3000px;
    padding: 0;
    font-size: 16px;
    color-adjust: exact;
    -webkit-print-color-adjust: exact;
    font-family: "微软雅黑",'Microsoft YaHei','华文黑体','STHeiti','宋体',helvetica, arial, verdana, sans-serif;
}

.container2 {
    width: auto;
    margin: auto;
    position: relative;
    /* background-color: #fff; */
}
/*------res page -------*/
.resBox{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
.resBox p{
    clear: both;
    /* font-size: 1.3em;
    line-height: 1.95em; */
    font-size: 18.2px;
    line-height: 35px;
    padding-bottom: 10px;
    text-align: left;
}
.resBox .respect{
	margin-top:70px;
	font-weight:bold;
}
.resBox .p_indent{
    clear: both;
    font-size: 18.2px;
    line-height: 35px;
    padding-bottom: 20px;
    margin-top:8px;
    text-align: left;
    text-indent:2.6rem;
}
i,em{
    font-style: normal
}
.resBox p i{
    /* font-size: 22px; */
    /* color:#37bd46; */
/*     color:#000000;
    font-weight:bold; */
    border-bottom: solid 1px;
    font-weight: bold;
    font-size: 20px;
}
.resBox p i.month1 {
    font-size: 22px;
    color: #000000;
    font-weight:bold;
    border-bottom: none;
}
.resBox .gao,.resBox .jie,.resBox .di,.resBox .di1,.resBox .di2,.resBox .dilist{
    //display: none;
    text-indent:2.6rem;
}
.resBox .di i{
   /*  color:#fe6333; */
}
.resBox .dilist, .resBox .jielist{
    padding-bottom: 10px;
    text-indent:2.6rem;
}
.resBox .dilist li, .resBox .jielist li{
	list-style:none;
	font-size: 22px;
	font-weight: bold;
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}
.resBox .dilist li i , .resBox .jielist li i{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    /* background-color:#fe6333; */
    background-color:#000000;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -2px;
}
.resBox>span{
  	font-size:1.1em;
  	line-height:2em;
    display: inline-block;
    text-align: left;
    float: left;
    color: #565857;
}
.resBox>img{
    float: right;
    margin-top:40px;
    height:50px;
}
.resBox>div{
	clear:both;
	width:100%;
	/* margin-top:70px; */
	/* color:#333; */
}
/*------result page ----  */
.resInfo{
    height: 80px;
    text-align: left;
    border: solid 1px #e1e2e1;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
   /*  background-color: #34bb45; */
    background-color: #000000;
    position:relative;
}
.resInfo>img{
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}
.resBox .resExplain1{
	margin-top:10px;
}
.resBox .resExplain1 p{
	padding:0;
	font-size:14px;
	line-height:1.5;
}
.resInfo .testLogo{
    position: absolute;
    width:76%;
    height: 60%;
    margin: 12px;
    background-color: #FFFFFF;
    border-radius: 4px;
    /* float: right; */
    top:0;
    right:0;
}
.resInfo .testLogo_se{
    position: relative;
    width:70%;
    height: 60%;
    margin: 12px;
    background-color: #FFFFFF;
    border-radius: 4px;
    float: right;
}

.resInfo .testLogo p{
    text-align: left;
    height: 100%;
    line-height: 32px;
    display: inline-block;
    /* color: #34bb45; */
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 2px;
    padding: 8px 0 4px 8px;
}
.resInfo .testLogo .month{
    font-size: 32px;
    font-weight: bold;
}
.resInfo .testLogo .desc{
    width: 22%;
    float: right;
    text-align: right;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    padding: 8px;
}
.testInfo{
    width: 100%;
    margin-top: 12px;
    height: 80px;
}
.testInfo tr td{
    width: 50%;
    font-size: 16px;
    text-align: left;
}
.testInfo tr td>span{
    font-size: 16px;
}
.resCon{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 6%;
    left: 0;
    overflow: hidden;
}
.resCon>div{
    width: 96%;
    height: 95%;
    padding-right: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.resRecord{
    text-align: left;
}
h2{
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    margin-top: 17px;
    margin-top: 15px;
    /* margin-bottom: 5px; */
}
.resRecord h2 span,.resQues h2 span{
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}
.resRecord table{
    margin-top: 1%;
}
.resRecord>span,.resQues>span{
    text-align: right;
    float: right;
    margin-top: 25px;
}
.resRecord>span>i,.resQues>span>i{
    color: #34bb45;
    font-size: 15px;
    vertical-align: middle;
    padding-right: 5px;
}
.tabRecord{
    width: 100%;
    /*margin-left: 1%;*/
    /*border: solid 1px red;*/
    float: left;
    border: solid 1px #333;
    border-collapse:collapse;
    border-spacing:0;
}
.tabRecord tr th{
    font-weight: bold;
    border-bottom: solid 1px #333;
}
.tabRecord tr th,.tabRecord tr td{
    width: 10%;
    height: 30px;
    text-align: center;
    padding: 5px;
    /* font-size: 16px; */
    font-size: 18px;
}
.tabRecord tr th:nth-child(1),.tabRecord tr td:nth-child(1){
    text-align: left;
    width: 14%;
    padding-left:2%;
    border-right: solid 1px #333;
}
.tabRecord tr th:nth-child(8),.tabRecord tr th:nth-child(9){
	border-left: solid 1px #333;
}
.tabRecord tr td:nth-child(8),.tabRecord tr td:nth-child(9){
    /* color: #34bb45; */
    border-left: solid 1px #333;
}
.tabRecord tr td:nth-child(1), .tabRecord tr td:nth-child(9){
    font-weight:bold;
}
.tabRecord tr{
    border-bottom: dashed 1px #333;
    /*border: solid 1px red;*/
    /*border: solid 1px red;*/
}
.resCon>div>hr{
    border-bottom: dashed 1px #e1e2e1;
}
.record{
    width: 100%;
    margin-left: 1%;
    float: left;
}
.scoreList{
    width: 100%;
    float: left;
}
.scoreList li{
    float: left;
    width: 16%;
    text-align: center;
}
.scoreList li strong{
    display: block;
    font-weight: bold;
    padding: 5px 0;
}
.total{
    text-align: center;
}
.total strong{
    display: inline-block;
    font-weight: bold;
    margin-top: .1rem;
}
.total span{
    color: #34bb45;
}
.resQues,.resExplain,.resScore{
    text-align: left;
}
.resQues tr td{
    width: 7%;
    font-size: 16px;
}
.resQues tr td:nth-child(1),.resQues tr td:nth-child(4){
    width: 36%;
    text-align: left;
    line-height:20px;
}
.resQues tr td p{
    padding-left: 1%;
}
.resQues textarea{
    border: solid 1px #e7e9e8;
    /* height: 40px; */
   /*  height: 32px; */
    height: 36px;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;
    /* padding: 10px; */
    margin: 3px 0;
    padding: 4px 6px;
    color:#000;
    background-color: white;
    font-size:15px;
   	/* font-weight:bold; */
   	font-family:"微软雅黑",'Microsoft YaHei','华文黑体','STHeiti','宋体',helvetica, arial, verdana, sans-serif;
	line-height:18px;
}
.copy{
    margin-top: 28px;
    font-size:14px;
    text-align: center;
}
.copy span{
    text-align: center;
}
.btnAdvice{
    width: 1.5rem;
    margin-top: .15rem;
}
.btnAdvice:hover{
    background-color: #69bd72;
}
.btnAdvice>a{
    color: #FFFFFF;
}
.resQues>p,.resRecord>p{
    margin-top: -10px;
    text-align: right;
    color: #34bb45;
    cursor: pointer;
}
.resQues>p>img,.resRecord>p>img{
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg); 	/* IE 9 */
    -moz-transform:rotate(-90deg); 	/* Firefox */
    -webkit-transform:rotate(-90deg); /* Safari �� Chrome */
    -o-transform:rotate(-90deg); 	/* Opera */
}
.resExplain h2{
    padding-left: 0;
}
.resExplain h2 span {
    font-weight: 400;
    font-size: 14px;
    font-size: 16px;
    line-height: 18px;
}
.resExplain p{
    /*font-size: .06rem;*/
    /*line-height: .15rem;*/
    /* padding-top: 12px; */
    padding-top: 10px;
    font-size: 18px;
}
.resExplain p span{
    /* color:#34bb45; */
    /* font-weight:bold; */
}
.resExplain p span:last-child{
    /* color:#34bb45; */
    font-weight:bold;
}
.resExplain p .baby{
    /*font-size: .06rem;*/
    color:#000;
}
.resQues .tabQues{
    border-bottom: none;
}
/*ASQSEɸ��������ҳ*/
.resCount,.resScore>div{
    padding-left: 1%;
    margin-top: 20px;
}
.resCount>p{
    line-height: 20px;
    /*font-size: .06rem;*/
}
.resCount>p>span{
    /* color:#34bb45; */
    /*font-size: .06rem;*/
}
.resScore>div>p{
    color:#333;
    font-weight: bold;
    font-size:18px;
    line-height: 24px;
    margin:10px 0;
}
.resScore>div>p,.resScore>div>.factor p{
    color:#333;
    font-weight: bold;
    font-size:18px;
    line-height: 24px;
    margin:10px 0;
}
.resCount>p>.totals{
    display: inline-block;
    width: 40px;
    text-align: center;
    border-bottom: solid 1px #565857;
}
.tabScore{
    margin: 0 2%;
    width: 90%;
    height: 60px;
    border-collapse: collapse;
    border-spacing: 0;
    /*background-color: #f2f2f2;*/
}
.tabScore tr td{
    width: 33.33%;
    height: 50%;
    border: solid 1px #ecebeb;
    text-align: center;
}
.tabScore tr:first-child{
    background-color: #faf9f9;
}
.resScore>div>span{
    /* font-size: 12px; */
    line-height: 20px;
    display: inline-block;
    padding-left: 2%;
}
.resScore>div>p>i,.resScore>div>.factor p>i{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    /* background-color: #34bb45; */
    background-color: #000000;
    margin-right: 5px;
}

.printBox .resInfo, .printBox .testInfo, .printBox .resRecord, .printBox .resQues, .printBox .resExplain, .printBox .resScore{
  /*   width: 90%; */
    margin: auto;
}
.printBox .testInfo{
    margin-top:12px;
}
.printBox .testInfo tr td:first-child{
    padding-left: 0;
}
.printBox .resQues .tabQues{
    /* border-top: solid 1px #e1e2e1; */
    width: 100%;
    height:100%;
    background-color: #fff;
}
input[type="radio"]:checked {
    background: url(src/assets/img/rdo_chked.png) no-repeat 50%;
    vertical-align: middle;
}
input[type="radio"] {
    -webkit-appearance: none;
    background: url(src/assets/img/rdo.png) no-repeat 50%;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}
#printBox1{
	padding-top:50px;
	width: 90%;
	margin: auto;
	min-height:1340px;
	position:relative;
}
/*游戏活动*/
.gameBox{
    width: 90%;
    margin: auto;
    margin-top: 1%;
    text-align: center;
    overflow-y:auto;
}
#printBox2{
	padding-top:50px;
}
.titleBox{
	margin: 0 auto;
    /* width: 90%; */
    height: 80px;
    text-align: left;
    border: solid 1px #e1e2e1;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    /* background-color: #34bb45; */
    background-color: #000000;
    position:relative;
}
.titleBox>img{
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
}
.titleBox .testBox{
    position: absolute;
    width:76%;
    height: 60%;
    margin: 12px;
    background-color: #FFFFFF;
    border-radius: 4px;
  /*   float: right; */
  	top:0;
  	right:0;
}
.titleBox .testBox_se{
    position: relative;
    width:70%;
    height: 60%;
    margin: 12px;
    background-color: #FFFFFF;
    border-radius: 4px;
    float: right;
}
.titleBox .testBox p{
    text-align: left;
    height: 100%;
    line-height: 32px;
    display: inline-block;
    /* color: #34bb45; */
    font-weight: bold;
    font-size: 32px;
    letter-spacing: 2px;
    padding: 8px 0 4px 8px;
}
.titleBox .testBox .month{
    font-size: 32px;
    font-weight: bold;
}
.titleBox .testBox .desc{
    width: 22%;
    float: right;
    text-align: right;
    display: inline-block;
    /*color: #FFFFFF;*/
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    padding: 8px;
}
.gameBox .accord{
	text-align:left;
/* 	width:90%; */
	margin:auto;
	margin-top:10px;
    line-height: 20px;
}

/* .gameBox .titleBox{
    width: 90%;
    height: 80px;
    margin: auto;
    border: solid 1px #e1e2e1;
    border-radius: 10px;
    background-color: #34bb45;
}
.gameBox .titleBox .testBox{
    position: relative;
    width: 38%;
    height: 70%;
    margin: 11px;
    background-color: #FFFFFF;
    border-radius: 10px;
    float: left;
}
.gameBox .titleBox .testBox .month{
    width: 80px;
    display: block;
    float: left;
    color: #34bb45;
    font-size: 36px;
    line-height: 50px;
    font-weight: bold;
    text-align: center;
}
.gameBox .titleBox .testBox p{
    color: #34bb45;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 16px;
    text-align: center;
}
.gameBox .titleBox .testBox .desc1{
	display:block;
	width:100%;
	letter-spacing:2px;
	font-size: 12px;
    font-weight: lighter;
    margin-top:10px;
}
.gameBox .titleBox>p{
    color: #ffffff;
    line-height: 50px;
    margin-top: 15px;
} */
.gameBox .gameList{
 /*    width: 90%; */
    text-align: left;
    margin: 20px auto;
}
.gameBox .gameList ul li{
	list-style:none;
    min-height: 80px;
    border-bottom: solid 1px #e7e9e8;
    /*border: solid 1px red;*/
}
.gameBox .gameList ul li:first-child{
    border-top: solid 1px #e7e9e8;
}
.gameBox .gameList ul li img{
    float: left;
    width: 60px;
    margin: 9px 16px;
}
.gameBox .gameList ul li p{
    /* font-size: 16px; */
    font-size: 18px;
    font-weight: bold;
    padding: 8px 0 4px 0;
}
.gameBox .gameList ul li span{
    display: block;
    width: 85%;
    /* font-size: 14px; */
    line-height:20px;
    padding-bottom:11px;
}
.gameBox .according{
/* 	width:90%; */
	margin:auto;
    font-weight: bold;
    /* font-size: 14px; */
    text-align: left;
    line-height:20px;
    padding: 30px 10px 20px 10px;
    //display: none;
}
.gameBox .according span{
	font-weight: bold;
}
.gameBox .according .ergoregion{
    /* font-size: 14px; */
    font-weight: bold;
}
.gameBox .according .ergoregion span{
    /* font-size: 14px; */
    font-weight: bold;
    /* color: #34bb45; */
}
.gameBox .recBox{
/* 	width:90%; */
	margin:auto;
    //display: none;
    margin-bottom: 30px;
}
.gameBox .recBox .recList{
	
    border: solid 1px #e7e9e8;
    text-align: left;
    border-radius: 10px;
    margin: 10px 0;
    //display: none;

}
.gameBox .recBox .recList img{
    float: left;
    width: 50px;
    margin: 14px 16px;
}
.gameBox .recBox .recList ul{
    width: 84%;
    float: left;
}
.gameBox .recBox .recList li{
	list-style:none;
    margin: 10px 0;
}
.gameBox .recBox .recList li i{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #34bb45;
    margin-right: 5px;
    float: left;
    margin-top: 16px;
}
.gameBox .recBox .recList li div{
    display: inline-block;
    width: 97%;
}
.gameBox .recBox .recList li p{
    font-size: 18px;
    font-weight: bold;
    padding: 8px 0 4px 0;
}
.gameBox .recBox .recList li span{
    display: inline-block;
}
.fontStyle{
	font-weight: bold;
    font-style: italic;
}
 .bottom{
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding: 20px 0 0 0;
    /* padding: 20px 0 17px 0; */
    border-top: solid 1px #333;
}
 .bottom2{
 	margin-top: 28px;
    position: absolute;;
    bottom: 0;
 }
#printBox {
	position: relative;
/* 	min-height:2000px; */
 	min-height:1240px;
	background-color: #fff;
	padding-top:50px;
	/* border:1px solid red; */
}
.resBox>.LineBox{
	position: absolute;
	bottom:140px;
	width: 90%;
    margin: auto;
	min-height: 60px;
}
.resBox>.LineBox .write_line{
	height:42px;
	border-bottom: 1px solid black;
}
.resBox .bottonExp{
	position: absolute;
	bottom: 50px;
	/* bottom:-15px; */
	/* overflow:hidden; */
	margin-top:0;
}
.resBox>.writeBox{
	position: absolute;
	bottom: 150px;
    margin: auto;
    /* margin-top:35px; */
	/* overflow:hidden; */
}
.resBox>.writeBox p{
	display:inline-block;
	height:45px;
	float:right;
}
.resBox>.writeBox p span{
	display:inline-block;
	height:45px;
	width:210px;
	border-bottom: 1px solid black;
}
/* ASQ:SE-2 */
/* 信息汇总 */
.printse2{
	margin-top:30px
}
.resInfo .testLogo_se2 {
    position: relative;
    width: 67%;
    height: 60%;
    margin: 12px;
    background-color: #FFFFFF;
    border-radius: 4px;
    float: right;
}
.resScore hr{
	margin-top:20px;
}
.tabScoreSe2 tr td{
    width: 11.11%;
    height: 50%;
    line-height:1.5;
    border: solid 1px #ecebeb;
    text-align: center;
}
.tabScoreSe2 tr:last-child td{
	text-align:left;
	padding-left:10px;
}
.printse2 .explain{
	display:none;
}
/* 游戏活动 */
.gamese2Box{
	width:90%;
	margin:auto;
	margin-top:30px;
	position: relative;
	height:100%;
}
.gamese2Box .resInfo,.gamese2Box .testInfo{
	width:100%;
}
.gamese2Box h1,.gamese2Box h2,.gamese2Box h3,.gamese2Box h4{
	margin-bottom: 10px;
    margin-top: 20px;
    font-weight:500;
}
.gamese2Box h2{
	width:180px;
	//background:url("src/assets/img/bg-title.png") no-repeat;
	background-size:100% 100%;
	padding: 15px 30px 15px 10px;
    color: #fff;
    font-size:30px;
}
.gamese2Box .h2-special{
	text-align:center;
}
.gamese2Box .h2-special2{
	width:260px;
	padding: 15px 40px 15px 10px;
}
.gamese2Box h3{
	color:#02ac18;
	font-weight: bold;
    font-size: 26px;
}
.gamese2Box h3.h3-special{
	color:#02ac18;
	font-weight: normal;
    font-size: 24px;
}
.gamese2Box h4{
	color:#02ac18;
	font-size:20px;
}
.gamese2Box ul,.gamese2Box li {
    list-style-type: none;
}
.gamese2Box ul{
	margin-bottom: 10px;
    margin-top: 0;
}
.gamese2Box li{
	line-height:1.5;
}
.gamese2Box h1{
    text-align: center;
    font-size:36px;
}
.gamese2Box p{
    text-indent: 25px;
    margin: 0 0 10px;
    line-height:1.5;
}
.gamese2Box .p_first{
	text-indent: 0px;
}
.gamelistse2 ul ul {
    padding-left: 20px;
}
.bottomse2{
	position:fixed;
    bottom:0;
    z-index:-1;
}
@media print {
  #printBox {
	position: relative;
	/* min-height:1285px; */
	min-height:1340px;
}
}
@media (max-width: 1024px) {
	#printBox {
		position: relative;
		/* min-height:1285px; */
		/* min-height:1205px; */
	}
}
tr{
    border: none;
    height: auto;
}

.default {
    width: 940px;
    height: 1px;
    opacity: 0;
}