<div class="baby-info vertical-layout">
  <app-account-info [user]="user"></app-account-info>
  <toast-window *ngIf="showToast" (closeEvent)="closeEvent()" >
    <baby-info-operate  (searchCondition)="searchCondition($event)" (closeEvent)="closeEvent()" #Operate></baby-info-operate>
  </toast-window>
  <div class="vertical-header">
    <div class="green-title large-title underline-title">宝宝库</div>
    <div class="operate-bar">
      <div class="left-wrapper">
        <div class="select-file">
          <span [class.active]="fileType == 'personal'" (click)="chooseFather(0)">个人档案</span> /
          <span [class.active]="fileType == 'total'" (click)="chooseFather(1)">全部档案</span>
        </div>
      </div>
      <div class="right-wrapper">
        <div class="search-wrapper">
          <app-simple-search (searchEvent)="searchEvent($event)"></app-simple-search>
        </div>
        <button class="hw-small-btn gray-btn padding1" (click)="addBabyHandler()">
          添加宝宝
          <i class="howell-icon-plus2" style="font-size: 17px"></i>
        </button>
        <button class="hw-small-btn gray-btn padding1" (click)="filterHandler()">
          筛选<i class="mdi mdi-filter-outline"></i>
        </button>
        <div class="select-wrapper" [class.expand]="true">
          <select [(ngModel)]="questType" (ngModelChange)="changeModel($event)">
            <option value="ASQ-3">ASQ-3</option>
            <option value="ASQ:SE">ASQ:SE</option>
            <option value="ASQ:SE-2">ASQ:SE-2</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="vertical-main">
    <div class="table-header">
      <table>
        <colgroup>
          <col style="width: 10%" />
          <col style="width: 15%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <!-- <col style="width: 10%" /> -->
          <col style="width: 10%" />
          <col style="width: 10%" />
        </colgroup>
        <thead>
          <tr>
            <th>宝宝姓名</th>
            <th>出生时间</th>
            <th>家长</th>
            <th>月龄组</th>
            <th>筛查时间</th>
            <th>状态</th>
            <!-- <th>档案号</th> -->
            <th>操作</th>
            <th></th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="table-body">
      <table>
        <colgroup>
          <col style="width: 10%" />
          <col style="width: 15%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <!-- <col style="width: 10%" /> -->
          <col style="width: 10%" />
          <col style="width: 10%" />
        </colgroup>
        <tbody>
          <ng-container *ngFor="let data of dataSource; let e = even;let i=index;">
            
            <tr>
              <td>{{ data.Name }}</td>
              <td>{{ data.Birthday }}</td>
              <td>{{ data.Mname }}</td>
              <td>{{ data.QuestMonth }}</td>
              <td>{{ data.SurveyTime }}</td>
              <td><span class="status" [attr.Index]="i" [attr.Status]="data.Status" [attr.Qid]="data.Id" [ngClass]="{'color1': data.Status!=1}" (click)="changeStatus($event)">{{data.Status!=1?'未归档':'已完成'}}</span></td>
              <!-- <td>{{ data.FileId }}</td> -->
              <td>
                <select *ngIf="questType == 'ASQ-3'" #report [attr.Uid]="data.Uid" [attr.Did]="data.Did" [attr.Bid]="data.Bid" [attr.Qid]="data.Id" (change)="chooseReport($event,+report.value,data.QuestType)">
                  <option value="0">请选择</option>
                  <option value="1">家长报告</option>
                  <option value="2">全部报告</option>
                  <option *ngIf="questType == 'ASQ:SE-2'" value="3">《ASQ:SE-2学习活动及其延伸》</option>
                  <option *ngIf="questType == 'ASQ:SE-2'" value="4">家长报告 &《ASQ:SE-2学习活动及其延伸》</option>
                  <option *ngIf="questType == 'ASQ:SE-2'" value="5">全部报告 &《ASQ:SE-2学习活动及其延伸》</option>
                </select>
                <a [attr.Uid]="data.Uid" [attr.Did]="data.Did" [attr.Bid]="data.Bid" [attr.Qid]="data.Id" class="aa" *ngIf="questType == 'ASQ:SE-2'" (click)="filterHandler2($event)">打印</a>
              </td>
              <td><span class="more" [attr.Uid]="data.Uid" [attr.Type]="data.QuestType" [attr.Did]="data.Did" [attr.Bid]="data.Bid" [attr.Qid]="data.Id" [attr.Mid]="data.Mid" (click)="gotoReport($event)">了解更多<img src="assets/img/arrow_w.png" alt="" ></span></td>
            </tr>
          </ng-container>
          
        </tbody>
      </table>
    </div>
  </div>
  <div class="vertical-footer" style="justify-content: flex-end">
    <div class="footer-item">
      <div class="footer-info">
        <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
        <div class="info-item">总数量: {{ page && page.TotalRecordCount }}</div>
      </div>

      <app-paginator
        *ngIf="page"
        [showFirstLastButtons]="true"
        [length]="page.TotalRecordCount"
        [pageSize]="page.PageSize"
        [pageIndex]="page.PageIndex - 1"
        (page)="pageEvent($event)"
      >
      </app-paginator>
    </div>
  </div>
  <print-se2 *ngIf="showSe2Print" (navigateEvent)="chooseReport2($event)" (closeEvent2)="closeEvent2()"></print-se2>
</div>
