<div class="baby-info vertical-layout">
  <!-- <app-account-info></app-account-info> -->
  <toast-window *ngIf="showToast" (closeEvent)="closeEvent()">
    <baby-info-operate></baby-info-operate>
  </toast-window>
  <div class="vertical-header">
    <div class="green-title large-title underline-title">宝宝库</div>
    <div class="operate-bar">
      <div class="left-wrapper">
        <div class="select-file">
          <span [class.active]="fileType == 'personal'">个人档案</span> /
          <span [class.active]="fileType == 'total'">全部档案</span>
        </div>
      </div>
      <div class="right-wrapper">
        <div class="search-wrapper">
          <app-simple-search></app-simple-search>
        </div>
        <button class="hw-small-btn gray-btn" (click)="addBabyHandler()">
          添加宝宝
          <i class="howell-icon-plus2" style="font-size: 17px"></i>
        </button>
        <button class="hw-small-btn gray-btn" (click)="filterHandler()">
          筛选<i class="mdi mdi-filter-outline"></i>
        </button>
        <div class="select-wrapper" [class.expand]="true">
          <select>
            <option value="" disabled>请选择</option>
            <option value="1">ASQ-3</option>
            <option value="2">ASQ:SE</option>
            <option value="3">ASQ:SE-2及其联结</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="vertical-main">
    <div class="table-header">
      <table>
        <colgroup>
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 15%" />
          <col style="width: 10%" />
          <col style="width: 15%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
        </colgroup>
        <thead>
          <tr>
            <th>宝宝姓名</th>
            <th>出生时间</th>
            <th>家长</th>
            <th>筛查时间</th>
            <th>状态</th>
            <th>档案号</th>
            <th>操作</th>
            <th></th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="table-body">
      <table>
        <colgroup>
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
          <col style="width: 15%" />
          <col style="width: 10%" />
          <col style="width: 15%" />
          <col style="width: 10%" />
          <col style="width: 10%" />
        </colgroup>
        <tbody>
          <tr>
            <td>王辰欣</td>
            <td>2019-10-26</td>
            <td>戴倩</td>
            <td>2022-09-08 16:56:26</td>
            <td>未归档</td>
            <td>E20220908165626418228</td>
            <td><a tabindex>打印</a></td>
            <td>了解更多</td>
          </tr>
          <tr>
            <td>王辰欣</td>
            <td>2019-10-26</td>
            <td>戴倩</td>
            <td>2022-09-08 16:56:26</td>
            <td>未归档</td>
            <td>E20220908165626418228</td>
            <td><a tabindex>打印</a></td>
            <td>了解更多</td>
          </tr>
          <tr>
            <td>王辰欣</td>
            <td>2019-10-26</td>
            <td>戴倩</td>
            <td>2022-09-08 16:56:26</td>
            <td>未归档</td>
            <td>E20220908165626418228</td>
            <td><a tabindex>打印</a></td>
            <td>了解更多</td>
          </tr>
          <tr>
            <td>王辰欣</td>
            <td>2019-10-26</td>
            <td>戴倩</td>
            <td>2022-09-08 16:56:26</td>
            <td>未归档</td>
            <td>E20220908165626418228</td>
            <td><a tabindex>打印</a></td>
            <td>了解更多</td>
          </tr>
          <tr>
            <td>王辰欣</td>
            <td>2019-10-26</td>
            <td>戴倩</td>
            <td>2022-09-08 16:56:26</td>
            <td>未归档</td>
            <td>E20220908165626418228</td>
            <td><a tabindex>打印</a></td>
            <td>了解更多</td>
          </tr>
          <tr>
            <td>王辰欣</td>
            <td>2019-10-26</td>
            <td>戴倩</td>
            <td>2022-09-08 16:56:26</td>
            <td>未归档</td>
            <td>E20220908165626418228</td>
            <td><a tabindex>打印</a></td>
            <td>了解更多</td>
          </tr>
          <tr>
            <td>王辰欣</td>
            <td>2019-10-26</td>
            <td>戴倩</td>
            <td>2022-09-08 16:56:26</td>
            <td>未归档</td>
            <td>E20220908165626418228</td>
            <td><a tabindex>打印</a></td>
            <td>了解更多</td>
          </tr>
          <tr>
            <td>王辰欣</td>
            <td>2019-10-26</td>
            <td>戴倩</td>
            <td>2022-09-08 16:56:26</td>
            <td>未归档</td>
            <td>E20220908165626418228</td>
            <td><a tabindex>打印</a></td>
            <td>了解更多</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="vertical-footer" style="justify-content: flex-end">
    <div class="footer-item">
      <div class="footer-info">
        <div class="info-item">当前数量: {{ page && page.RecordCount }}</div>
        <div class="info-item">总数量: {{ page && page.TotalRecordCount }}</div>
      </div>

      <app-paginator
        *ngIf="page"
        [showFirstLastButtons]="true"
        [length]="page.TotalRecordCount"
        [pageSize]="page.PageSize"
        [pagerCount]="pagerCount"
        [pageIndex]="pageIndex - 1"
        (page)="pageEvent($event)"
      >
      </app-paginator>
    </div>
  </div>
</div>
