<div class="header-nav">
  <div class="nav-item" *ngFor="let model of models">
    <div class="title">{{ model.title }}</div>
    <div class="wrapper" *ngIf="model.children && model.children.length">
      <div class="wrapper-item" *ngFor="let m of model.children">
        <div class="title">{{ m.title }}</div>
      </div>
    </div>
  </div>

  <div class="">
    <app-account-operation></app-account-operation>
    <!-- <div class="title">
      <i class="howell-icon-account" style="font-size: 25px"></i>
    </div>
    <div class="wrapper">
      <div class="wrapper-item"><div class="title">广中路</div></div>
      <div class="wrapper-item"><div class="title">退出登录</div></div>
      <div class="wrapper-item"><div class="title">sdfsdf</div></div>
    </div> -->
  </div>
</div>
