<div class="enterprise-license popped-content">
  <div class="closeImg" (click)="close()">
    <img src="assets/img/close.png" alt="" />
  </div>
  <div class="popped-header">
    <div class="title normal-title">ASQ 许可协议（机构端）</div>
  </div>
  <div class="popped-main">
    <p>
      重要——请仔细阅读<br />

      您正在使用的是上海杖元信息科技有限公司（“杖元公司”或“我们”或"neoballoon"）提供的neoballoon网站http://www.neoballoon.com（本“网站”），
      以及ASQ
      机构终端服务和相关软件（“服务”）都需要以您接受并遵守本终端用户协议以及相关的使用条款和隐私政策为前提。
      本网站包括但不仅限于ASQ Online管理系统、ASQ
      机构版,及其他在线功能模块（如辅食和育儿知识等）。
      本网站是以网站为基础的Ages & Stages
      Questionnaires系列产品的管理系统，其包括但不限于《年龄与发育进程问卷（第3版）》（ASQ-3）、
      《年龄与发育进程问卷：社交-情绪》（ASQ:SE）、《年龄与发育进程问卷：社会-情绪（第2版）》（ASQ:SE-2）以及配合ASQ:SE-2使用的《ASQ:SE-2学习活动及其延伸》（以下简称“学习活动”）。ASQ-3筛查儿童的综合发育状况，ASQ:SE和ASQ:SE-2筛查儿童的社会-情绪行为的发展状况，ASQ:SE-2是ASQ:SE的升级版。点击“我同意”按钮或者使用本网站服务的行为表明您同意接受本协议条款以及与之相关的使用条款和隐私政策。如果您不接受本协议，请选择“我不同意”按钮，则您将不被给予使用本网站服务及其相关内容的权利。<br />

      <b class="bold">用 户 协 议</b><br />
      本终端用户协议（“本协议”）是您与上海杖元信息科技有限公司签订的具有法律效力的协议。
      “您”指任何购买本网站服务或者拥有或者取得本网站和服务使用权限的个人或者实体（“实体”，包括但不限于学校、学区、儿童看护中心、早教中心或者早教项目、教育系统、儿童收养中心、儿童福利中心，以及儿科、医疗组织或者其他健康看护中心等实体）。<br />
      1.您与杖元公司的关系<br />
      您按照本用户协议的约定接受杖元公司提供的服务。<br />
      同时，在您使用杖元公司提供的服务前及服务中，杖元公司公布的任何法律声明中的协议。<br />
      如您与杖元公司签署了单独的书面协议，则本协议与该协议有相同的法律效力；两份协议不一致之处，以单独的书面协议为准。<br />
      <b
        >请您务必仔细阅读本用户协议，知悉、理解本协议内容，并作出同意本协议或不同意本协议的决定。</b
      ><br />
      2.接受本协议<br />
      2.1<b>使用服务必须首先同意本协议。如果您不接受本协议则不可使用服务</b>。<br />
      2.2您可通过下列方式接受本协议：<br />
      (A)在有关任何服务的用户界面上杖元公司向您提供的选择处点击以接受或同意本协议；或<br />
      (B)实际使用服务。在此情况下，您理解并同意：自您使用服务时起，杖元公司将视为您已接受本协议。<br />
      2.3在下列情况下您不可使用服务且不能接受本协议：(a)您未达到与杖元公司订立有约束力的合同的法定年龄，或(b)根据中国或其他国家（包括您居住的或您从那里使用服务的国家）的法律，您是被禁止接受服务的人。<br />
      3.杖元公司提供服务<br />
      3.1 您认知并同意，您接受的服务由杖元公司提供。<br />
      3.2
      您认知并同意杖元公司可自行决定停止（永久或暂时）向您或全体用户提供服务，且无需事先通知您；同时，您也可以在任何时候自行决定停止使用服务，且无需特别通知杖元公司。<br />
      3.3
      您认知并同意，如果杖元公司禁用对您的帐户的访问权，则您可能被阻止获得服务、您的帐户资料或包含在您帐户中的任何文件或其他内容。<br />
      4.您对服务的使用<br />
      4.1<b>为实现服务目的，您会被要求提供自身的、自己拥有监护权的儿童的及/或自身客户的信息（如身份或联系资料）作为服务的登记程序或获取服务或取得服务结果的一部分。您同意向杖元公司提供该些信息，并确保您给予杖元公司的任何登记信息均是来源合法、准确、正确和最新的</b>。其中，当您提供自身客户的信息（如身份或联系资料）时，需已事先征得其同意，即您已明确告知该客户（即儿童监护人/家长）相关数据信息的具体用途和目的，并确保其系自愿提供，对于其提供相关数据的行为完全理解、确认并同意。<br />
      4.2您同意您使用杖元公司提供服务的目的和方法是符合本协议及法律法规规定的。<br />
      4.3您同意不通过杖元公司提供的界面以外的任何方式获得（或试图获得）任何与本协议约定服务相同的服务。<br />
      4.4您同意您不从事妨碍或者破坏服务（或与服务连接的服务器及网络）的任何活动。<br />
      4.5除非您在与杖元公司的单独协议中获得特别允许，否则您同意您不为任何目的再制作、复制、拷贝、出售、交易或转售服务。<br />
      <b
        >4.6您同意，如因您违反您在本协议项下的义务导致发生任何法律后果（其中也包括对杖元公司造成任何损害），则由您独自承担责任（杖元公司不承担任何责任，且保留维护自身权益的权利）。</b
      ><br />
      5.隐私<br />
      5.1关于杖元公司对您的数据保护信息，请查阅杖元公司的隐私政策。该政策解释了杖元公司如何处理您的个人信息，以及如何在您使用服务时保护您的隐私。<br />
      5.2您同意按照杖元公司的隐私政策使用您的数据。<br />
      6.服务内容<br />
      6.1杖元公司保留从任何服务中筛选、审阅、标明、过滤、修订、拒绝或删除任何或所有内容的权利（但无义务这样做）。<br />
      <b
        >6.2
        您同意独自就您在使用服务时传送或展示的任何内容导致发生任何法律后果（其中也包括对杖元公司造成任何损害），则由您独自承担责任（杖元公司不承担任何责任，且保留维护自身权益的权利）。</b
      ><br />
      7.专有权利<br />
      7.1您认知并同意，杖元公司（或杖元公司的许可方）对服务拥有一切法定权利、所有权和利益，包括存在于服务中的任何知识产权（无论该等权利是否已经登记，也不论该等权利在世界的何等地方存在）。您进一步认知，服务可能包括杖元公司指定为保密的信息，未经杖元公司事先书面同意，您不得披露该等信息。<br />
      7.2除非您与杖元公司另有书面协议，否则本协议中的任何规定均未给予您使用杖元公司任何商号、商标、服务标记、标识、域名及其他显著品牌特征的权利。<br />
      7.3您同意您不得删除、掩藏或改动服务所附的或包含的任何专有权利声明（包括著作权和商标声明），也不得从事任何可能或故意导致他人混淆该等商标、名称或标识的所有者或授权用户的行为。<br />
      8.杖元公司的许可<br />
      8.1杖元公司向您提供不可转让及非排他性的服务，您可以根据本协议允许的方式使用和享用杖元公司提供的服务。<br />
      8.2您不得（且您不得允许任何其他人）拷贝、修改杖元提供服务或服务中所涉软件的任何部分，或对软件或软件的任何部分创作衍生作品，进行反向工程、反编辑或试图从软件或软件的任何部分提取源代码，但法律明确允许或要求的或杖元公司特别书面告知您的除外。<br />
      8.3除非杖元公司给予您明确的书面允许，否则您不得转让您对软件的使用权（或授予该使用权的分许可）、在您对软件的使用权上设置担保权益或以其他方式转让您对软件的使用权的任何部分。<br />
      9.您对内容的许可<br />
      您同意杖元公司保存、使用、分析您提供的数据，并由杖元公司或杖元公司授权的人对该数据进行去标识化后的学术性汇总、研究。<br />
      10.终止您与杖元公司的关系<br />
      10.1如果您希望终止与杖元公司的法律协议，您可通过下列方式完成：(a)在任何时候通知杖元公司及(b)其他经与杖元公司协商确认的方式。<br />
      10.2发生下列情况时杖元公司可终止其与您的协议：<br />
      (A)您违反了本协议的任何规定（或您的行为方式明确显示您不打算或不能遵守本协议规定）；或<br />
      (B)法律要求杖元公司这样做（例如：向您提供服务不合法或变得不合法）；或<br />
      (C)杖元公司认为，杖元公司向您提供服务不再具有商业可行性。<br />
      10.3本条款终止时，您和杖元公司已经享受或承担的或明确规定为无限期有效的所有法定权利、义务和责任不受该终止的影响。<br />
      11.不包括其他保证<br />
      11.1杖元公司不就以下各项向您作出陈述或保证：<br />
      (A)您对服务的使用将符合您的需求；<br />
      (B)您对服务的使用将无中断、及时、安全或没有错误；<br />
      (C)由于您使用服务而获得的任何信息将是准确的或可靠的；及<br />
      (D)作为服务的一部分向您提供的任何软件的运行或功能中的缺陷将被纠正。<br />
      11.2通过使用服务而下载或以其他方式获得的任何材料所产生风险由您自行承担，您将独自对由于下载任何该等材料而导致对电脑系统或其他装置的损害或数据的丢失负责。<br />
      11.3
      您从杖元公司获得的或通过服务或从服务获得的任何建议或信息（无论口头还是书面的）均不构成本协议中未明确规定的任何保证。<br />
      11.4杖元公司进一步明确否认任何种类的所有保证和条件（无论明示还是默示的），包括但不限于适销性、适合特定目的及不侵权的默示保证和条件。<br />
      12.责任限制<br />
      <b
        >12.1在杖元公司在法律规定和协议约定范围内提供服务的前提下，您明示理解并同意，杖元公司及其许可人就以下事项，不对您承担责任：<br />
        (A)您直接导致的任何直接、间接、附带、特殊、后果性或惩罚性的损害。这应包括但不限于任何利润损失（无论是直接还是间接发生）、任何商誉或业务声誉损失、任何数据丢失、替代物品或服务的购买费用或其他无形损失；<br />
        (B)您可能遭受的任何损失或损害，包括但不限于由下列原因导致的损失或损害：<br />
        a.杖元公司对服务可能做出的变更，或永久或暂时停止提供服务（或服务中的任何功能）；<br />
        b.对通过您使用服务而维持或传输的任何内容及其他通信数据的删除、毁坏或未能将其储存；<br />
        c.您未向杖元公司提供准确的帐户信息；<br />
        d.您未对您的密码或帐户资料保持安全及保密。</b
      ><br />
      12.2无论杖元公司是否接到通知或是否应已知晓引起任何该等损失的可能性，上文第12.1条中杖元公司对您的责任限制均应适用。<br />
      13.本协议的变更<br />
      13.1杖元公司可不时对本协议进行变更。<br />
      13.2您理解并同意，如果您在本协议变更之后仍使用服务，则杖元公司将视为您接受更新后的协议内容。<br />
      14.一般法律条款<br />
      14.1杖元公司有义务对您提交的个人信息保密，未经允许不得透露给第三方。您同意杖元公司可通过电子邮件发送各种通知及各种非商业或商业性质的内容。<br />
      14.2您同意，如果杖元公司未行使或未强制执行包含在本协议中的（或杖元公司依法享受的）任何权利或救济，不可视为杖元公司对权利的正式放弃，这些权利或救济仍对杖元公司有效。<br />
      14.3本协议中部分条款被判定无效的，不影响其余部分的有效性，可继续强制执行。<br />
      14.4本协议适用中国大陆地区法律，排除其他冲突法的适用。您与杖元公司均同意接受位于中国境内的法院的专属管辖权，以解决任何由本协议引起的法律事项。<br />
      14.5杖元公司向您提供本协议中文文本的翻译件时，您同意翻译件仅供您方便之用，本协议的中文文本适用于您和杖元公司之间的关系。如果本协议中文文本和翻译文本存在任何冲突，则以中文文本为准。<br />

      <b class="bold">隐 私 政 策</b><br />
      引言<br />
      《隐私政策》（以下简称“本政策”）仅适用于上海杖元信息科技有限公司（
      “杖元公司”或“我们”）的ASQ系统的产品与/或服务，即【ASQ在线管理系统，ASQ机构版，及其他在线功能模块（如辅食和育儿知识等），其中ASQ机构版包括《年龄与发育进程问卷（第3版）》（ASQ-3）、
      《年龄与发育进程问卷：社交-情绪》（ASQ:SE）、《年龄与发育进程问卷：社会-情绪（第2版）》（ASQ:SE-2）以及配合ASQ:SE-2使用的《ASQ:SE-2学习活动及其延伸》（以下简称“学习活动”）】。本政策与您所使用的我们的ASQ系统的产品与/服务息息相关。我们希望您在使用ASQ系统的产品与/或服务前，仔细阅读本政策，详细了解我们对信息的收集、保护、使用、处理方式，以便您更好地了解我们的服务并在需要时按照本政策的指引做出您认为适当的选择。<br />
      <b
        >我们的产品、网站和服务主要适用于1至72个月的儿童。由于该阶段儿童行为能力及认知能力的局限性，在此特别说明：</b
      ><br />
      请您务必确保：儿童用户（根据相关法律法规及习俗的认定，我们将儿童定义在14岁以下的未成年人，此处儿童用户指您的子女或其他具有法定监护义务的儿童）的监护人（父母或其他法定监护人），如使用杖元公司的产品与/或服务，将在使用产品或接受服务的过程中，提供儿童用户的个人信息，并授权杖元公司使用该信息，故请您及前述监护人仔细阅读和选择是否同意本政策。<br />
      我们希望您与我们共同保护儿童的个人信息，教育引导儿童增强个人信息保护意识和能力。如儿童用户已经具备相应的认知能力，则希望您能够指导、提醒和要求他们在未经您同意的情况下，不向任何网络产品和服务提供者提供任何个人信息，且，一起仔细阅读本政策以决定是否允许杖元公司使用儿童用户的个人信息。<br />
      <b
        >您点击“同意”按钮或您使用杖元公司的任何产品与/或服务，即表示您完全阅读、理解、认同、同意并接受我们在本政策中所述全部内容。<br />
        如您提供的个人信息来自其他人，则您必须确保以下全部事项：<br />
        1.提供个人信息的人完全知悉：ASQ系统的产品与/或服务由我们提供，且该产品与/或服务用于您为儿童进行发育水平的评测；<br />
        2.提供个人信息的人自愿选择使用ASQ系统的产品与/或服务；<br />
        3.您提供的个人信息来自个人信息所属的个人本人或其法定监护人（如个人信息主体为儿童）；<br />
        4.提供个人信息的人完全阅读、理解、认同、同意并接受我们在本政策中所述全部内容。<br />
        5.提供个人信息的人授权同意我们，即上海杖元信息科技有限公司，收集、使用、管理您提交的个人及儿童的个人信息。</b
      ><br />
      更新日期：【2022】年【2】月【16】日。<br />
      如果您对本政策的任何部分有任何疑问、意见或建议，请通过以下联系方式与我们联系：<br />
      电子邮箱：【sales@neoballoon.com】<br />
      电 话：【021-54300379】<br />
      本政策将帮助您了解以下内容：<br />
      1.我们如何收集和使用您提供的个人信息<br />
      2.我们如何使用Cookie和同类技术<br />
      3.我们如何共享、转让、公开披露您提供的个人信息<br />
      4.我们如何保护您提供的个人信息<br />
      5.您的权利<br />
      6.我们如何处理儿童的个人信息<br />
      7.本政策如何更新<br />
      8.如何联系我们<br />
      <b
        >定义：<br />
        1、本政策中所称“您”包括机构端账户所属主体、提供个人信息的人、个人信息所属人本人（如本人不具备相应的认知能力，则不包括本人）。<br />
        2、本政策中所称“您提供的个人信息”包括您的个人信息、儿童用户监护人的个人信息及您提供的儿童用户的个人信息。</b
      ><br />
      3、个人信息，是指以电子或者其他方式记录的能够单独或者与其他信息结合识别特定自然人身份或者反映特定自然人活动情况的各种信息，不包括匿名化处理后的信息。<br />
      4、数据，是指我们为您提供服务中涉及的数据，在本政策中将根据上下文可能指您主动提供的数据、我们在为您服务过程中产生的数据、第三方向我们提供的与您相关的合法授权的数据及公开渠道合法获取的数据，这些数据都将用于优化我们的产品向您提供的更优质的服务。<br />
      5、去标识化，是指个人信息经过处理，使其在不借助额外信息的情况下无法识别特定自然人的过程。<br />
      6. 匿名化，是指个人信息经过处理无法识别特定自然人且不能复原的过程。<br />
      <b>正文：</b><br />
      杖元公司深知个人信息对您的重要性，并会竭尽全力保护您提供的个人信息。我们致力于维持您对我们的信任，我们将向您清晰透明的表述我们的信息处理方式，并在您自主选择的基础上收集使用您选择的产品与/或服务所需的必要信息，同时，我们也会通过合理有效的信息安全技术及管理流程保护您提供的个人信息，并将隐私保护的理念融入我们的产品及服务的各个环节中。<br />
      一.我们如何收集和使用您提供的个人信息<br />
      杖元公司仅会出于本政策所述的以下目的，收集和使用您提供的个人信息。当我们要将信息用于本政策未载明的其它用途时，会事先征求您（提供信息者）的明示同意。当我们要将基于特定目的收集而来的信息用于其他目的时，会事先征求您的明示同意。<br />
      （一）为您提供儿童发育筛查服务<br />
      为完成筛查，您需提供以下信息：<br />
      （1）基本信息：完成问卷人的手机号码，与儿童用户的关系、儿童用户的姓名（可使用昵称）、性别、出生日期、早产情况（早产与否、早产时间）、出生情况（多胞胎情况、生产方式、助产方式，并需列明其他生产过程中的异常情况）。<br />
      在输入过程中，如果您提供以下额外信息，将有助于我们给您提供更好的服务和体验：您或儿童用户的身份信息（包括但不限于儿童身份证、父母身份证、诊疗卡号、性别、出生日期）、您的姓名、您居住地所属的地区（具体到县区）、通信方式（包括通信地址、邮政编码）、完成答题问卷时有无协助及协助人与儿童用户的关系或身份（如有）、父母的出生日期、父母及主要照看者的教育背景。但如果您不提供这些信息，将不会影响使用本服务及/或产品的基本功能。<br />
      （2）为了您能够得到服务成果（即儿童发育筛查报告），您需如实回答服务系统中提出的问题，并在此过程中提供儿童用户的言行习惯信息。<br />
      上述基本信息中可识别性信息主要用于身份验证。我们会利用您提供的联系方式，通过书面确认、电话确认、电子邮件确认等方式，验证您与儿童用户的监护关系，验证用户身份，及提供产品与/或服务。<br />
      除身份验证所需的可识别性信息外的基本信息及儿童用户的言行习惯信息是为了得到服务筛查结果，以评估儿童发育情况。<br />
      您提供的上述信息，将在您使用本服务及/或产品期间持续授权我们使用。在您注销账号时，我们将停止使用并删除上述信息，除非需要延长保留期或受到法律的允许。<br />
      上述信息将存储于中华人民共和国境内。如需跨境传输，我们将会单独征得您的授权同意。<br />
      （二）开展内部审计、数据分析和研究，改善我们的产品与/或服务。<br />
      （1）因内部审计需要，我们可能会使用到您提供的个人信息；<br />
      （2）由于我们提供的产品与/或服务在参考儿童信息（包括个人信息及筛查报告）后能够改善我们的产品与/或服务，提供更加完善的服务，所以我们可能会将所收集到的儿童信息用于大数据分析，如形成不同阶段的儿童行为模式报告等，但这些统计信息将进行匿名化处理，不包含您的任何身份识别信息。<br />
      （3）为了解用户如何使用我们服务或让公众了解我们的服务，我们可能会对外公开并与我们的合作伙伴分享经统计加工后不含身份识别内容的信息。<br />
      <b></b
      >请您了解并同意，我们有权使用已经去标识化的信息；并在不透露您个人信息的前提下，我们有权对用户数据库进行分析并予以商业化的利用。<br />
      您知晓，根据相关法律法规的规定，在以下情形中，我们可以在不征得您的知情同意的情况下而收集、使用相关个人信息：（1）与国家安全、国防安全有关的；（2）与公共安全、公共卫生、重大公共利益有关的；（3）与犯罪侦查、起诉、审判和判决执行等有关的；（4）出于维护个人信息主体或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；（5）所收集的个人信息是个人信息主体自行向社会公众公开的；（6）从合法公开披露的信息中收集的您的个人信息的，如合法的新闻报道、政府信息公开等渠道；（7）根据您的要求签订合同所必需的；（8）用于维护所提供的产品与/或服务的安全稳定运行所必需的，例如发现、处置产品与/或服务的故障；（9）为合法的新闻报道所必需的；（10）学术研究机构基于公共利益开展统计或学术研究所必要，且对外提供学术研究或描述的结果时，对结果中所包含的个人信息进行去标识化处理的；（11）法律法规规定的其他情形。<br />
      二.我们如何使用 Cookie 和同类技术<br />
      （一）Cookie<br />
      为确保网站正常运转，我们会在您的计算机或移动设备上存储名为 Cookie
      的小数据文件。Cookie 通常包含标识符、站点名称以及一些号码和字符。借助于
      Cookie，网站能够存储您的手机号、密码等数据。<br />
      我们一般将 Cookie 用于以下目的：身份认证、帮助改善我们的产品与/或服务。<br />
      您可根据自己的偏好管理或删除 Cookie。您可以清除计算机上保存的所有
      Cookie，大部分网络浏览器都设有阻止 Cookie
      的功能。但如果您这么做，则需要在每一次访问我们的网站时亲自更改用户设置。<br />
      <b>（二）Do Not Track（请勿追踪）</b><br />
      很多网络浏览器均设有 Do Not Track 功能，该功能可向网站发布 Do Not Track
      请求。目前，主要互联网标准组织尚未设立相关政策来规定网站应如何应对此类请求。但如果您的浏览器启用了
      Do Not Track，那么我们的所有网站都会尊重您的选择。<br />
      <b
        >三.我们如何共享、转让、公开披露您提供的个人信息<br />
        （一）共享</b
      >><br />
      我们不会与您以外的其他任何公司、组织和个人分享您提供的个人信息，但以下情况除外：<br />
      1.在获取明确同意的情况下共享：获得您的明确同意后，我们会与其他方共享您的个人信息。<br />
      2.我们可能会根据法律法规规定，或按政府主管部门的强制性要求，对外共享您的个人信息。<br />
      3.只有共享您的信息，才能实现我们的产品与/或服务的核心功能或提供您需要的服务（此种情形我们将在情形发生时专门提示您）。<br />
      <b>（二）转让</b><br />
      我们不会将您提供的个人信息转让给您以外的其他任何公司、组织和个人，但以下情况除外：<br />
      1.在获取明确同意的情况下转让：获得您的明确同意后，我们会向其他方转让您的个人信息；<br />
      2.在涉及合并、收购或破产清算时，如涉及到个人信息转让，我们会在要求新的持有您个人信息的公司、组织继续受此政策的约束，否则我们将要求该公司、组织重新向您征求授权同意。<br />
      <b>（三）公开披露</b><br />
      我们仅会在以下情况下，公开披露您提供的个人信息：<br />
      1.获得您明确同意后；<br />
      2.基于法律的披露：在法律、法律程序、诉讼或政府主管部门强制性要求的情况下，我们可能会公开披露您的个人信息。<br />
      您知晓，根据相关法律法规的规定，在以下情形中，我们可以在不征得您的知情同意的情况下而分享、转让、公开披露相关个人信息：（1）与国家安全、国防安全有关的；（2）与公共安全、公共卫生、重大公共利益有关的；（3）与犯罪侦查、起诉、审判和判决执行等有关的；（4）出于维护个人信息主体或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；（5）所收集的个人信息是个人信息主体自行向社会公众公开的；（6）从合法公开披露的信息中收集的您的个人信息的，如合法的新闻报道、政府信息公开等渠道；（7）根据您的要求签订合同所必需的；（8）用于维护所提供的产品与/或服务的安全稳定运行所必需的，例如发现、处置产品与/或服务的故障；（9）为合法的新闻报道所必需的；（10）学术研究机构基于公共利益开展统计或学术研究所必要，且对外提供学术研究或描述的结果时，对结果中所包含的个人信息进行去标识化处理的；（11）法律法规规定的其他情形。根据法律规定，共享、转让经去标识化处理的个人信息，且确保数据接收方无法复原并重新识别个人信息主体的，不属于个人信息的对外共享、转让及公开披露行为，对此类数据的保存及处理将无需另行向您通知并征得您的同意。<br />
      四.我们如何保护您提供的个人信息<br />
      （一）我们已使用符合业界标准的安全防护措施保护您提供的个人信息，防止数据遭到未经授权访问、公开披露、使用、修改、损坏或丢失。我们会采取一切合理可行的措施，保护您提供的个人信息。例如，在您的浏览器与“服务”之间交换数据（如信用卡信息）时受
      SSL
      加密保护；我们会使用加密技术确保数据的保密性；我们会使用受信赖的保护机制防止数据遭到恶意攻击；我们会部署访问控制机制，确保只有授权人员才可访问个人信息；以及我们会举办安全和隐私保护培训课程，加强员工对于保护个人信息重要性的认识。<br />
      （二）我们会采取一切合理可行的措施，确保未收集无关的个人信息。我们只会在达成本政策所述目的所需的期限内保留您提供的个人信息，除非需要延长保留期或受到法律的允许。<br />
      （三）互联网并非绝对安全的环境，而且电子邮件、即时通讯、及通过互联网与其他人沟通的交流方式并未加密，我们强烈建议您不要通过此类方式发送个人信息。请使用复杂密码，协助我们保证您的账号安全。<br />
      （四）互联网环境并非百分之百安全，我们将尽力确保或担保您发送给我们的任何信息的安全性。如果不幸发生我们的物理、技术、或管理防护设施遭到破坏，导致信息被非授权访问、公开披露、篡改、或毁坏，我们将承担法律责任，采取补救措施，阻止事件扩大，并以电子邮件、电话、短信息、推送通知等方式告知您，难以逐一告知个人信息主体时，我们会采取合理、有效的方式发布公告。<br />
      同时，我们还将按照监管部门要求，主动上报个人信息安全事件的处置情况。<br />
      （五）如您发现自己的个人信息被泄露，尤其是您的账户及密码发生泄露，请您立即以本隐私政策中明确的联系方式联络我们，以便我们采取相应措施。<br />

      <b>五.您的权利</b><br />
      按照中国相关的法律、法规、标准，以及其他国家、地区的通行做法，我们保障您对您提供的个人信息行使以下权利：<br />
      （一）访问您提供的个人信息<br />
      您有权访问您提供的个人信息，法律法规规定的例外情况除外。如果您想行使数据访问权，可以通过以下方式进行访问：<br />
      账户信息——如果您希望编辑您的账户中的信息，您可以点击左边导航栏的“添加宝宝”，任选一种筛查方式并选择问卷种类，进入到信息页面编辑修改除宝宝的出生日期、早产孕周外的基本信息。如果您希望更改您的密码、关闭您的账户等，您可以通过联系邮箱【lolili@neoballoon.com】、本网站其他位置提供的联系方式以及您通过其他渠道获取的联系方式联系工作人员，由工作人员后台执行此类操作。<br />
      您可以通过以下方式访问您的账户信息：<br />
      孩子档案——您可以点击左边导航栏的“宝宝库”，通过搜索框输入孩子姓名搜索到孩子档案，点击“了解更多”
      访问您已获得报告。<br />
      打印报告——您可以点击左边导航栏的“宝宝库”，通过搜索框输入孩子姓名搜索到孩子档案，点击“选择打印”选择一种打印方式查看到获得的报告并打印<br />
      原始数据——如果您需要所有孩子的档案信息，请发送邮件至：lolili@neoballoon.com并说明您的单位，您的职务以及需要哪些数据，我们会以电子邮件的方式回复您<br />
      如果您无法通过上述链接访问这些个人信息，您可以随时发送电子邮件至【sales@neoballoon.com】。我们将在30天内回复您的访问请求。<br />
      （二）更正您提供的个人信息<br />
      当您发现您提供的个人信息有错误时，您可以通过“（一）访问您提供的个人信息”中罗列的方式修改更正。<br />
      如果您无法通过上述链接更正这些个人信息，您可以随时发送电子邮件至【sales@neoballoon.com】。我们将在30天内回复您的更正请求。<br />
      （三）删除您提供的个人信息<br />
      在以下情形中，您可以向我们提出删除个人信息的请求：<br />
      如果我们处理个人信息的行为违反法律法规；<br />
      如果我们收集、使用您提供的个人信息，却未征得您的同意；<br />
      如果我们处理个人信息的行为违反了与您的约定；<br />
      如果您不再使用我们的产品与/或服务，或您注销了账号；<br />
      如果我们不再为您提供产品与/或服务。<br />
      若我们决定响应您的删除请求，我们还将同时通知从我们这里获得您提供的个人信息的实体，要求其及时删除，除非法律法规另有规定，或这些实体获得您的独立授权。<br />
      当您从我们的服务中删除信息后，我们可能不会立即从备份系统中删除相应的信息，但会在备份更新时删除这些信息。<br />
      （四）改变您授权同意的范围<br />
      每个业务功能需要一些基本的个人信息才能得以完成（见本政策“第一部分”）。对于额外收集的个人信息的收集和使用，您可以随时给予或收回您的授权同意。<br />
      您可以通过以下方式自行操作：<br />
      【进入输入基本信息的页面时，添加或删除额外信息。】<br />
      当您收回授权同意后，我们将不再处理相应的个人信息。但您收回同意的决定，不会影响此前基于您的授权而开展的个人信息处理。<br />
      （五）个人信息主体注销账户<br />
      作为个人信息主体的您，随时可以申请注销您的账户，您可以通过联系邮箱【lolili@neoballoon.com】、本网站其他位置提供的联系方式以及您通过其他渠道获取的联系方式联系工作人员，由工作人员后台注销账户。<br />
      在注销账户之后，我们将停止为您提供产品与/或服务，并依据您的要求，删除您提供的个人信息，法律法规另有规定的除外。<br />
      （六）个人信息主体获取个人信息副本<br />
      您有权获取您的个人信息副本，您可以通过以下方式自行操作：<br />
      您可以登陆您需要获取的个人信息页面，选择您需要复制的信息，通过复制文本的方式获取您的个人信息副本。<br />
      （七）约束信息系统自动决策<br />
      在某些业务功能中，我们可能仅依据信息系统、算法等在内的非人工自动决策机制做出决定。如果这些决定显著影响您的合法权益，您有权要求我们做出解释，我们也将提供适当的救济方式。<br />
      （八）响应您的上述请求<br />
      为保障安全，您可能需要提供书面请求，或以其他方式证明您的身份。我们可能会先要求您验证自己的身份，然后再处理您的请求。我们将在三十天内做出答复。<br />
      对于您合理的请求，我们原则上不收取费用，但对多次重复、超出合理限度的请求，我们将视情况收取一定成本费用。对于那些无端重复、需要过多技术手段（例如，需要开发新系统或从根本上改变现行惯例）、给他人合法权益带来风险或者非常不切实际（例如，涉及备份磁带上存放的信息）的请求，我们可能会予以拒绝。<br />
      在以下情形中，按照法律法规要求，我们将无法响应您的请求：<br />
      1.与国家安全、国防安全直接相关的；<br />
      2.与公共安全、公共卫生、重大公共利益直接相关的；<br />
      3.与犯罪侦查、起诉、审判和判决执行等直接相关的；<br />
      4.有充分证据表明您存在主观恶意或滥用权利的；<br />
      5.响应您的请求将导致您或其他个人、组织的合法权益受到严重损害的；<br />
      6.涉及商业秘密的。<br />
      六.我们如何处理儿童的个人信息<br />
      我们按照《儿童个人信息网络保护规定》的要求，严格遵循正当、必要、知情同意、目的明确、安全保障、依法利用的原则收集、存储、使用儿童的个人信息。<br />
      虽然我们的产品及服务面向的主体是儿童，但由于主要适用于1至72个月的儿童，所以没有父母或监护人的同意，儿童不得创建自己的用户档案。<br />
      对于经父母或监护人同意而收集儿童个人信息的情况，我们只会在受到法律允许、父母或监护人明确同意或者保护儿童所必要的情况下使用或公开披露此信息。<br />
      如果我们发现自己在未事先获得可证实的父母或监护人同意的情况下收集了儿童的个人信息或经举报发现存在未经父母或监护人同意的儿童个人信息提供行为，则会在确认情况后设法尽快删除相关数据。<br />
      符合本政策相关条款的情况下，如我们与第三方分享您和儿童的信息，原则上，我们将进行安全评估并采用加密、替换、匿名化、去标识化处理等手段保障您和儿童的信息安全；但经您授权同意的除外。<br />
      由于我们提供的产品与/或服务在参考儿童信息（包括个人信息及筛查报告）后能够改善我们的产品与/或服务，提供更加完善的服务，所以我们可能会将所收集到的儿童信息用于大数据分析，如形成不同阶段的儿童行为模式报告等。我们可能会对外公开并与我们的合作伙伴分享经统计加工后不含身份识别内容的信息，用于了解用户如何使用我们服务或让公众了解我们的服务。<br />
      七.本政策如何更新<br />
      我们的隐私政策可能变更。<br />
      未经您明确同意，我们不会削减您按照本隐私政策所应享有的权利。我们会在本页面上发布对本政策所做的任何变更。<br />
      本政策所指的重大变更包括但不限于：<br />
      1.我们的服务模式发生重大变化。如处理个人信息的目的、处理的个人信息类型、个人信息的使用方式等；<br />
      2.我们在所有权结构、组织架构等方面发生重大变化。如业务调整、破产并购等引起的所有者变更等；<br />
      3.个人信息共享、转让或公开披露的主要对象发生变化；<br />
      4.您参与个人信息处理方面的权利及其行使方式发生重大变化；<br />
      5.我们的联络方式及投诉渠道发生变化时；<br />
      6.个人信息安全影响评估报告表明存在高风险时；<br />
      7.国家法律法规政策发生变化时。<br />
      我们还会将本政策的旧版本存档，供您查阅。<br />

      八.如何联系我们<br />
      如果您对本隐私政策有任何疑问、意见或建议，您可以向【sales@neoballoon.com】发送电子邮件我们联系，一般情况下，我们将在三十天内回复。<br />
      我们还设立了个人信息保护专职部门(或个人信息保护专员)，您可以通过以下方式与其联系：<br />
      联系地址：上海市闵行区闵虹路166弄T2 1609<br />
      联系人：王若水（个人信息保护专员）<br />
      电话：021-54300379<br />
      邮政编码：200000<br />
      网络运营者主要负责人【王若水】联系电话【021-54300379】<br />
      九.争议解决<br />
      因本政策以及我们处理您个人信息事宜引起的任何争议，您可随时联系我们要求给出回复，如果您对我们的回复不满意的，认为我们的个人信息处理行为严重损害了您的合法权益的，您还可以通过向本隐私政策服务提供商【上海杖元信息科技有限公司】所在地【上海】有管辖权的人民法院提起诉讼来寻求解决方案。<br />
    </p>
  </div>
  <div class="popped-footer">
    <div class="popped-footer-item">
      <div>
        <input
          type="checkbox"
          name="auto-login"
          id="autoLogin"
          style="margin-right: 5px"
          [(ngModel)]="agree"
        />
        <label for="autoLogin"
          >我已经阅读并理解前述内容，并且同意接受条款的约束</label
        >
      </div>
    </div>
    <div class="popped-footer-item">
      <button
        class="normal-green-button"
        [class.disabled]="isLogin || !agree"
        type="button"
        style="width: 170px"
        (click)="login()"
      >
        下一步
      </button>
    </div>
  </div>
</div>
