<div class="baby-game">
  <div class="simple-title">游戏活动</div>

  <div class="game-wrapper">
    <div class="game-group asq3">
      <div class="title">ASQ-3</div>
      <div class="content">
        <div
          class="game-item"
          *ngFor="let item of asq3Data"
          (click)="clickItem(item)"
          [class.selected]="selection.isSelected(item)"
        >
          <div>
            <label for="print"> {{ item.title }} </label>
          </div>
          <div class="select-wrapper">
            <select>
              <option value="">选择操作</option>
              <option value="">查看</option>
              <option value="">打印</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="game-group asq-se2">
      <div class="title">ASQ:SE-2</div>
      <div class="content">
        <div
          class="game-item"
          *ngFor="let item of asqSe2Data"
          (click)="clickItem(item)"
          [class.selected]="selection.isSelected(item)"
        >
          <div>
            <label for="print"> {{ item.title }} </label>
          </div>
          <div class="select-wrapper">
            <select>
              <option value="">选择操作</option>
              <option value="">查看</option>
              <option value="">打印</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="hw-normal-btn-group">
      <button class="large-green-button">打印</button>
    </div>
  </div>
</div>
