<div class="baby-game">
  <app-toast-window *ngIf="showToast" (closeEvent)="closeEvent()">
    <image-box [models]="toastModels"></image-box>
  </app-toast-window>

  <div class="title green-title large-title">游戏活动</div>

  <div class="game-wrapper">
    <div class="game-group asq3">
      <div class="title">ASQ-3</div>
      <div class="content">
        <div
          class="game-item"
          *ngFor="let model of asq3Data"
          (click)="clickItem(model)"
          [class.selected]="selection.isSelected(model)"
        >
          {{ model.title }}
        </div>

        <div
          class="game-item"
          [class.selected]="asq3BtnSelected"
          (click)="toggleAsq3()"
        >
          <div>全部</div>
        </div>
      </div>
    </div>

    <div class="game-group asq2">
      <div class="title">ASQ:SE-2</div>
      <div class="content">
        <div
          class="game-item"
          *ngFor="let model of asqSe2Data"
          (click)="clickItem(model)"
          [class.selected]="selection.isSelected(model)"
        >
          {{ model.title }}
        </div>
        <div
          class="game-item"
          [class.selected]="asq2BtnSelected"
          (click)="toggleAsq2()"
          style="grid-column-start: 1; grid-column-end: 4"
        >
          <div>全部</div>
        </div>
      </div>
    </div>
  </div>
  <div class="game-footer">
    <div class="btn-group">
      <button class="hw-normal-btn green-btn" (click)="viewModel()">
        查看
      </button>
      <button class="hw-normal-btn green-btn" (click)="printModel()">
        打印
      </button>
    </div>
  </div>
</div>
