<div class="baby-game">
  <app-toast-window *ngIf="showToast">
    <image-box [models]="toastModels" (closeEvent)="closeEvent()"></image-box>
  </app-toast-window>

  <div class="simple-title">游戏活动</div>

  <div class="game-wrapper">
    <div class="game-group asq3">
      <div class="title">ASQ-3</div>
      <div class="content">
        <div
          class="game-item"
          *ngFor="let model of asq3Data"
          (click)="clickItem(model)"
          [class.selected]="selection.isSelected(model)"
        >
          <div>
            <label for="print"> {{ model.title }} </label>
          </div>
          <div class="select-wrapper">
            <select
              [(ngModel)]="model.operation"
              (change)="selectChange($event, model)"
              (click)="$event.stopPropagation()"
            >
              <option value="" disabled>选择操作</option>
              <option value="0">查看</option>
              <option value="1">打印</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="game-group asq-se2">
      <div class="title">ASQ:SE-2</div>
      <div class="content">
        <div
          class="game-item"
          *ngFor="let item of asqSe2Data"
          (click)="clickItem(item)"
          [class.selected]="selection.isSelected(item)"
        >
          <div>
            <label for="print"> {{ item.title }} </label>
          </div>
          <div class="select-wrapper">
            <select>
              <option value="" disabled>选择操作</option>
              <option value="0">查看</option>
              <option value="1">打印</option>
            </select>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <div class="game-footer">
    <div class="hw-normal-btn-group">
      <button class="large-green-button">打印</button>
    </div>
  </div>
</div>
