.btn-group {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 15px 0;
}

// 按钮通用样式
.hw-btn() {
  cursor: pointer;
  height: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &.disabled {
    filter: grayscale(1);
  }
  i {
    font-size: 15px;
    color: #34bb45;
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.hw-small-btn {
  .hw-btn();
  font-size: 14px;
  padding: 10px;
}

.hw-normal-btn {
  .hw-btn();
  font-size: 16px;
  padding: 15px 25px;
}
.hw-large-btn {
  .hw-btn();
  font-size: 20px;
  padding: 20px;
}
.round-btn {
  border-radius: 15px;
}
.gray-btn {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;

  &:hover {
    background-color: #e6e6e6;
    border-color: #adadad;
  }
}
.green-btn {
  background-color: #34bb45;
  color: white;
  border: 1px solid #34bb45;
}
.reverse-green-btn {
  background-color: #fff;
  border: 1px solid #34bb45;
  color: #34bb45;
}
// .normal-button() {
//   font-size: 14px;
//   border-radius: 8px;
//   height: 30px;
//   border: none;
//   cursor: pointer;
//   width: 100px;

//   &.disabled {
//     filter: grayscale(1);
//   }
// }

// .large-button() {
//   font-size: 16px;
//   border-radius: 10px;
//   height: 40px;
//   border: none;
//   cursor: pointer;
//   width: 130px;

//   &.disabled {
//     filter: grayscale(1);
//   }
// }

// .green-button() {
//   background-color: #34bb45;
//   color: white;
//   border: 1px solid #34bb45;
// }
// .reverse-green-button {
//   .normal-button();

// }

// .green-small-button {
//   .small-button();
//   .green-button();
// }

// .green-normal-button {
//   .normal-button();
//   .green-button();
// }

// .green-large-button {
//   .large-button();
//   .green-button();
// }

// .gray-small-button {
//   .small-button();
//   .gray-button();
// }
// .gray-normal-button {
//   .normal-button();
//   .gray-button();
// }

// .gray-large-button {
//   .large-button();
//   .gray-button();
// }
