<div class="side-nav">
  <div>
    <div class="nav-item" *ngFor="let model of models">
      <a [routerLink]="model.path">
        {{ model.title }}
      </a>
    </div>
  </div>
  <div class="nav-code">
    <div class="code-title">扫码关注公众号</div>
    <div class="code-img"><img src="assets/img/qrcode.jpg" alt="" /></div>
  </div>
  <div class="nav-info">
    <div class="info-item">联系电话:</div>
    <div class="info-item">021-54300379</div>
    <div class="info-item">咨询邮箱:</div>
    <div class="info-item">sales@neoballoon.com</div>
  </div>
</div>
