<div class="side-nav">
  <div class="nav-item">
    <a routerLink="baby-info">首页</a>
  </div>
  <div class="nav-item">
    <a href="">关于我们</a>
  </div>
  <div class="nav-item">
    <a href="">ASQ简介</a>
  </div>
  <div class="nav-item">
    <a href="">法律声明</a>
  </div>
  <div class="nav-item">
    <a href="">知识课堂</a>
  </div>
  <div class="nav-item">
    <a href="">最新通知</a>
  </div>
  <div class="nav-item">
    <a href="">资料下载</a>
  </div>
  <div class="nav-item">
    <a href="">联系我们</a>
  </div>

  <div class="nav-item">
    <a routerLink="baby-info">首页</a>
  </div>
  <div class="nav-item">
    <a href="">关于我们</a>
  </div>
  <div class="nav-item">
    <a href="">ASQ简介</a>
  </div>
  <div class="nav-item">
    <a href="">法律声明</a>
  </div>
  <div class="nav-item">
    <a href="">知识课堂</a>
  </div>
  <div class="nav-item">
    <a href="">最新通知</a>
  </div>
  <div class="nav-item">
    <a href="">资料下载</a>
  </div>
  <div class="nav-item">
    <a href="">联系我们</a>
  </div>
</div>
