.side-nav {
  width: 100%;
  height: 100%;
  background-color: #3b3f46;
  box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: auto;
  
  .nav-item {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    padding: 0 30px;
    cursor: pointer;
    &:hover {
      background-color: #eee;
      a {
        color: #3b3f46;
      }
    }
    &.selected {
      color: #43bb45;
    }
    a {
      color: #ccc;
    }
  }
  .nav-code {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 14px;
    padding: 0 20px;
    .code-title {
      margin-bottom: 5px;
    }
    .code-img {
      width: 100px;
      img {
        width: 100%;
      }
    }

    margin: 10px 0;
  }
  .nav-info {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 14px;
    padding: 0 20px;
    .info-item {
      margin: 2.5px 0;
    }
  }
}

.nav-wrapper{
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 860px) {
  .nav-wrapper{
    display: flex;
    flex-direction: row;
  }
  .mhide{
    display: none !important;
  }
}

