<div class="main" *ngIf="selectScan">
  <h2 class="sub-header">生成二维码 <span class="phone4"></span></h2>
  <div class="process qrcode-process">
    <span style="width:20px;"></span><span style="width:50px;"></span>
    <ul>
      <li class="li2">
        <i class="finished"></i>
        <b>选择筛查模式</b>
      </li>
      <!-- <li>
              <i class="finished"></i>
              <b>填写家长信息生成二维码</b>
          </li> -->
      <li class="current li2" >
        <i class="current">2</i>
        <b class="current">扫描二维码获得问卷</b>
      </li>
    </ul>
    <span style="width:50px;border-bottom: 5px solid #34bb45;"></span><span
      style="width:20px;border-bottom: 5px solid #34bb45;"></span>
  </div>
  <div style="text-align:center;">
    <!-- 		<button class="btn btn-default btnDirect">直接答题</button> -->
    <!--   		<button class="btn btn-default btnScan">生成二维码</button> -->
    <!-- 	<button class="btn btn-default nowBtnScan">生成二维码</button> -->
    <input type="hidden" value="14" class="doctorid">
    <input type="hidden" value="33" class="did"><br>
    <div class="qrcodeBox">
      <qr-code *ngIf="qrcodeShow" [value]="qrcodeUrl" [level]="'Q'" [size]="300"></qr-code>
    </div>
    <p style="font-size:18px;">扫一扫<br>获取您的问卷</p>
    <p>(亲爱的用户，您已不需要输入验证码，该步骤已置于家长手机端，请您放心使用!)</p>
    <button class="btnRefresh" (click)="refresh()">{{lastNum}}</button>
  </div>

</div>