.account-info {
  display: flex;
  box-shadow: 2px 2px 10px #dadddd;
  // .title {
  //   .company {
  //     font-size: 20px;
  //     color: #5eb755;
  //   }
  //   .account-name {
  //     font-size: 30px;
  //     color: red;
  //   }
  // }
  // .info {
  //   margin: 20px;
  //   flex-grow: 1;
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   .info-item {
  //     display: flex;
  //     flex-direction: column;
  //     .info-count {
  //       display: flex;
  //     }
  //   }
  // }
  .title {
    color: #d5d7d9;
    font-weight: lighter;
    margin-top: 0;
  }
}
