<div class="account-info">
  <!-- <div class="title">
    <div class="simple-title">上海杖元信息科技有限公司</div>
    <div class="account-name">示教1</div>
  </div> -->
  <div class="">用户信息</div>
  <!-- <div class="info">
    <div class="info-item">
      <div>ASQ-3问卷</div>
      <div class="info-count">
        <div>
          <div>剩余</div>
          <div>46</div>
        </div>
        <div>
          <div>总共</div>
          <div>1324</div>
        </div>
      </div>
    </div>
    <div class="info-item">
      <div>ASQ-SE问卷</div>
      <div class="info-count">
        <div>
          <div>剩余</div>
          <div>50</div>
        </div>
        <div>
          <div>总共</div>
          <div>1124</div>
        </div>
      </div>
    </div>
    <div class="info-item">
      <div>ASQ:SE-2及其联结</div>
      <div class="info-count">
        <div>
          <div>剩余</div>
          <div>46</div>
        </div>
        <div>
          <div>总共</div>
          <div>1324</div>
        </div>
      </div>
    </div>
  </div> -->
</div>
