.account-info {
  display: flex;
  padding: 10px;
  border: solid 1px #e7e9e8;
  margin-bottom: 20px;
  box-shadow: 2px 2px 10px #dadddd;
  flex-direction: column;
  // .title {
  //   .company {
  //     font-size: 20px;
  //     color: #5eb755;
  //   }
  //   .account-name {
  //     font-size: 30px;
  //     color: red;
  //   }
  // }

  .wrapper {
    display: flex;
    .account {
      display: flex;
      flex-direction: column;
      flex-basis: 20%;
      align-items: center;
      justify-content: center;
      padding: 10px 0;
      border-right: 1px solid #ddd;
      margin: 30px 0;
    }
  }
  .info {
    margin: 0 20px;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    .info-item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 12%;
      .info-head {
        display: flex;
      }
      .info-wrapper {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
        .info-left {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }
        .info-right {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
        }
        .gray {
          font-size: 12px;
          color: #d5d7d9;
        }
        .num-left {
          color: #34bb45;
          font-size: 30px;
        }
        .num-right {
          color: #d5d7d9;
          font-size: 30px;
        }
      }
    }
  }
}
