<div class="account-info">
  <div class="normal-title gray-title">用户信息</div>
  <div class="wrapper">
    <div class="account">
      <div class="large-title green-title center-title">{{ doctor?.Name }}</div>
    </div>
    <div class="info">
      <div class="info-item">
        <div class="info-head">ASQ-3问卷</div>
        <div class="info-wrapper">
          <div class="info-left">
            <div class="gray">剩余</div>
            <div class="num-left">46/</div>
          </div>
          <div class="info-right">
            <div class="gray">总共</div>
            <div class="num-right">1324</div>
          </div>
        </div>
      </div>
      <div class="info-item">
        <div class="info-head">ASQ-3问卷</div>
        <div class="info-wrapper">
          <div class="info-left">
            <div class="gray">剩余</div>
            <div class="num-left">46/</div>
          </div>
          <div class="info-right">
            <div class="gray">总共</div>
            <div class="num-right">1324</div>
          </div>
        </div>
      </div>
      <div class="info-item">
        <div class="info-head">ASQ-3问卷</div>
        <div class="info-wrapper">
          <div class="info-left">
            <div class="gray">剩余</div>
            <div class="num-left">46/</div>
          </div>
          <div class="info-right">
            <div class="gray">总共</div>
            <div class="num-right">1324</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
