table {
  border-collapse: separate;
  text-indent: initial;
  white-space: normal;
  line-height: normal;
  font-weight: normal;
  font-size: medium;
  font-style: normal;
  color: -internal-quirk-inherit;
  text-align: start;
  border-spacing: 2px;
  font-variant: normal;
}

.asq3-test {
  width: 100%;
  height: 100%;
}
/*閿熸枻鎷烽敓鏂ゆ嫹绛涢敓鏂ゆ嫹*/
.hello {
  display: inline-block;
  padding-right: 5px;
}
.screenBox {
  width: 100%;
}

.platelist {
  width: 70%;
  position: absolute;
  top: 30%;
  left: 12%;
}
.platelist li {
  text-align: center;
  color: #262626;
  height: 100%;
  cursor: pointer;
  width: 50%;
  float: left;
}
.platelist li p {
  font-size: 20px;
  margin: 10px;
  color: #009d4c;
}
.platelist li span {
  display: block;
  width: 50%;
  margin: auto;
  font-size: 10px;
}
.platelist li i {
  width: 200px;
  height: 200px;
  background-size: 100% 100%;
  display: block;
  margin: 0 auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.platelist li:nth-child(1) i {
  background-image: url(src/assets/img/icon_family.png);
}
.platelist li:nth-child(2) i {
  background-image: url(src/assets/img/icon_company.png);
}

.startBox {
  width: 82%;
  margin: auto;
  text-align: center;
}

.back {
  text-align: left;
  cursor: pointer;
  /*  width:80%; */
  margin: auto;
  margin-left: 20px;
  display: inline-block;
}
.startBox .back {
  width: 100%;
}
.badgetitle {
  width: 100%;
  height: 100px;
  margin: auto;
  margin: 10px 0 20px 0;
  border-bottom: 1px solid #bfbfbf;
  text-align: left;
  overflow: hidden;
}
.badgetitle img {
  float: right;
  margin-top: 45px;
  margin-right: 10px;
  width: 120px;
}
/* .badgetitle span{
float:left;
  width: 250px;
  color: #34bb45;
  
  -webkit-transform-origin-x: 0;
  -webkit-transform: scale(0.7);
  margin-top: 25px;
  text-align: center;
} */
.badgetitle span {
  text-aglin: left;
}

.badgetitle .stSpan {
  display: inline-block;
  color: #34bb45;
  font-size: 34px;
  font-weight: 600;
  height: 90px;
  padding: 0 15px 0 5px;
  float: left;
}

.badgetitle .mSpan {
  display: inline-block;
  padding-left: 15px;
  border-left: 1px solid #bfbfbf;
  color: #000;
  font-size: 14px;
  line-height: 28px;
  float: left;
  margin-top: 52px;
}

.badgetitle .stSpan strong {
  font-size: 70px;
  color: #34bb45;
  font-weight: normal;
}

.startBox > span {
  text-align: left;
  display: block;
  line-height: 30px;
}

.startBox .greenExp {
  color: #34bb45;
}
.startBox .monthExp {
  display: none;
  text-align: left;
  margin-bottom: 25px;
  line-height: 30px;
}

.startBox .greenExp img,
.startBox .chkList li img {
  width: 30px;
}

.notice {
  /* width: 62%; */
  width: 100%;
  margin: 20px auto 40px auto;
}
.notice h4 {
  font-weight: 600;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 20px;
  text-align: left;
}
.chkList {
  text-align: left;
}
.chkList li {
  line-height: 30px;
}
.chkList input[type="checkbox"] {
  -webkit-appearance: none;
  background: url(src/assets/img/chk.png) no-repeat;
  height: 20px;
  vertical-align: middle;
  width: 20px;
}
.chkList input[type="checkbox"]:checked {
  background: url(src/assets/img/chked.png) no-repeat;
}

.HWBox {
  margin: 12% auto;
  width: 500px;
  /*height: 35%;*/
  text-align: center;
  border-radius: 10px;
  background-color: #ffffff;
  /*display: none;*/
}
.HWBox > p {
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
  margin: 0;
}

.HWBox > div {
  width: 70%;
  margin: auto;
}
.HWBox hr {
  margin-top: 10px;
  margin-bottom: 0;
}
.HWBox .swiper {
  position: relative;
}
.HWBox .swiper-container {
  width: 80%;
  height: 70px;
}
.HWBox > div > span {
  display: block;
  text-align: center;
  padding-top: 10px;
}
.HWBox .swiper-container > p {
  text-align: center;
}
.HWBox .swiper-slide > span {
  display: block;
  height: 10px;
  width: 1px;
  background-color: #dee2de;
}
.HWBox .swiper-slide > p {
  position: absolute;
  top: 25px;
  margin-left: -17.5px;
  width: 35px;
  text-align: center;
}
.HWBox .swiper-slide .long {
  height: 15px;
}
.HWBox .green {
  width: 2px;
  height: 30px;
  background-color: #34bb45;
  position: absolute;
  margin-top: 0;
  left: 50%;
  margin-left: -5px;
  z-index: 99;
}
/*.HWBox .swiper-slide-active span,.HWBox .swiper-slide-active .long{ width:2px;height: 30px;background-color: #34bb45;}*/
.HWBox p[class^="num"] {
  font-size: 20px;
  padding: 0 5px 0 5px;
  margin: 0;
}
.HWBox .swiper-button-next {
  background: url("src/assets/img/arrow_r.png") no-repeat center center;
  /*right: -10px;*/
  /*margin-right: 30%;*/
}
.HWBox .swiper-button-prev {
  background: url("src/assets/img/arrow_r.png") no-repeat center center;
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  /*left: -10px;*/
  /*margin-left: 30%;*/
}
.HWBox .swiper-button-disabled {
  background: url("src/assets/img/arrow_l.png") no-repeat center center;
}
.btnComplete {
  margin-top: 15px;
  margin-bottom: 20px;
}
/*閫夐敓鏂ゆ嫹閿熸枻鎷*/
.back2 {
  /*     position: absolute;
 top: 5%;
  left: 2%; */
  margin-left: 20px;
}
.quesBox {
  width: 100%;
  margin: auto;
  margin-left: 20px;
  padding-right: 20px;
}
.quesBox > div:first-child {
  /*  position: relative; */
}
.quesBox h1 {
  font-size: 68px;
  line-height: 70px;
  color: #34bb45;
  font-weight: lighter;
  /* padding-top: 2%;  */
}
.tip-box > div {
  float: left;
  width: 50%;
}
.quesBox .tip-box .dot {
  margin-top: 5px;
}
.tip-box .dotques {
  max-width: 91%;
  display: inline-block;
  float: left;
}
.tabQues {
  /*position: relative;*/
  width: 99.6%;
  font-size: 16px;
  /* height:60%; */
  /*border-bottom: solid 1px #e7e9e8;*/
  text-align: center;
  /*border: solid 1px red;*/
  /*    margin-bottom:50px; */
}
.tabQues .line {
  border-bottom: solid 1px #e7e9e8;
}
.tabQues tr td {
  padding: 3px;
  /* color: #767977; */
  /*width: 10%;*/
}
.tabQues .line td {
  padding: 15px 5px;
}
.tabQues tr:nth-child(2) td {
  /*   padding-top: 15px; */
}
.tabQues tr:last-child td {
  padding-bottom: 15px;
}
.quesBox .dot {
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-top: 10px;
  /* margin-top: 5px; */
  margin-left: 5px;
  margin-right: 10px;
  background-color: #34bb45;
  float: left;
}
.quesBox .dot2 {
  display: inline-block;
  vertical-align: middle;
  /* width: 10px;
  height: 10px; */
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 10px;
  float: left;
}
.quesBox strong .babyStr {
  font-weight: bold;
}
.quesBox .dotse {
  display: inline-block;
  vertical-align: middle;
  /* width: 10px;
  height: 10px; */
  /* border-radius: 10px; */
  /* margin-top: 10px; */
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 10px;
  /* background-color: #34bb45; */
  float: left;
}
.tabQues tr td {
  font-size: 16px;
  
}
.tabQues tr td:first-child {
  text-align: left;
  width: 78%;
  
}
.tabQues tr td span:nth-child(2) {
  max-width: 95%;
  display: inline-block;
  float: left;
}
.tabQues tr td .red {
  color: red;
}
#test07 .tabQues tr td:first-child {
  text-align: left;
  width: 73%;
}

.quesBox p {
  /*padding-top: 5px;*/
  text-align: right;
  color: #34bb45;
  cursor: pointer;
}
.quesBox .expInfo {
  padding: 0;
  text-align: left;
  color: #767977;
  cursor: pointer;
}
.quesBox p > img {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); /* IE 9 */
  -moz-transform: rotate(-90deg); /* Firefox */
  -webkit-transform: rotate(-90deg); /* Safari 閿熸枻鎷�Chrome */
  -o-transform: rotate(-90deg); /* Opera */
}
.bottom {
  /*     position: absolute;
  bottom: -25px;
  right: 0; */
  text-align: center;
  width: 100%;
  padding: 20px 0 27px 0;
  border-top: solid 1px #333;
}
.bottom > .pagenum {
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  background-color: #34bb45;
  color: #ffffff;
  margin: auto;
  margin-bottom: 20px;
}
/* .quesBox .bottom>span{
  position: absolute;
  bottom:5px;
  left: 50%;
  margin-left: -3%;
} */
.divBtn {
  width: 100%;
  margin-top: 40px;
  /*    margin-bottom:40px; */
  /*   margin-left:-20px; */
  text-align: center;
}
.divBtn .btnPre,
.divBtn .btnNext {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  border: solid 2px #e7e9e8;
  color: #e7e9e8;
  margin: 40px 10px;
  pointer-events: none;
  /*background-color: #36bd46;*/
  /*border: none;*/
  /*display: none;*/
}
.divBtn .complete {
  display: none;
}
.quesBox .btn-default1 {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  background-color: #36bd46;
  color: #ffffff;
  border: none;
  pointer-events: auto;
}
#test06 > div div,
#test08 > div div {
  text-align: center;
}
#test06 .red {
  color: red;
}
#test06 .red2 {
  color: red;
}
/* #test06{
  width: 88%;
} */
#test07 > div {
  width: 100%;
  /*    height: 88%; */
  /*   padding-right: 20px; */
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
#test06 > div,
#test08 > div {
  width: 100%;
  /*    height: 85%; */
  padding-right: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
#test01 textarea,
#test02 textarea,
#test03 textarea,
#test04 textarea,
#test05 textarea,
#test06 textarea,
#test07 textarea,
#test08 textarea {
  border: solid 1px #e7e9e8;
  height: 60px;
  width: 97%;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
.worry {
  display: none;
}
#test06 tr:last-child {
  text-align: center;
}
#test06 .bottom,
#test07 .bottom,
#test08 .bottom {
  /*width: calc(100% - 20px);*/
  text-align: center;
  border-top: none;
  /*  height: 50px; */
}
.bottom i {
  font-style: italic;
}
#test07 > div .btnNext {
  margin-top: 5px;
}
/* #test06 .bottom span{
  left: 50%;
  margin-left: -5px;
} */
#test06 .btnUpload,
#test08 .btnUpload {
  margin: 30px;
  width: 130px;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  /*     display: none; */
  border: solid 1px #e7e9e8;
  color: #e7e9e8;
  pointer-events: none;
}
#test06 .btn-default1,
#test08 .btn-default1 {
  background-color: #36bd46;
  /*     display: none; */
  border: none;
  color: #ffffff;
  pointer-events: auto;
}
.tabQues .highlight td div {
  display: inline-block;
  background-color: #ffebee;
  border: dashed 1px #f59d95;
  padding: 5px;
  border-radius: 5px;
}
.tabQues .highlight td div span:nth-child(2) {
  /*width: 100%;*/
}
.tabQues .highlight td div .dot {
  margin-left: -1px;
}
.tabQues .highlight td input[type="radio"]:checked {
  background: url(src/assets/img/rdo_light.png) no-repeat 50%;
}
.tabQues tbody {
  border-bottom: solid 1px #e7e9e8;
}
.tabQues td img {
  width: 30px;
  cursor: pointer;
}
.tabQues .showicon td img {
  width: 100% !important;
}
.tabQues td strong {
  font-weight: bold;
  font-size: 14px;
}
.tabQues .line ul li:before {
  content: "";
  line-height: 20px;
  width: 6px;
  height: 6px;
  background-color: #34bb45;
  float: left;
  /*margin: .05em .05em ;*/
  border-radius: 50%;
}
.tab-head {
  height: auto;
}
.tab-head tbody {
  /*  width: 99.5%; */
  /* position: absolute; */
  margin-top: 0;
  left: 0;
  border-bottom: none;
}
.tab-head .dot {
  width: 8px;
  height: 8px;
  margin-top: 8px;
}
.tab-body {
  position: relative;
  /*  margin-top: 125px; */
  /*     width: 102.%; */
  width: 100%;
  height: 60%;
  overflow-y: auto;
  border-top: solid 1px #e7e9e8;
  border-bottom: solid 1px #e7e9e8;
}
.tab-body table {
  width: 100%;
}
.tab-body tr > td:nth-child(2),
.tab-body tr > td:nth-child(3),
.tab-body tr > td:nth-child(4),
.tab-body tr > td:nth-child(6) {
  width: 5%;
  text-align: center;
}
.tab-body tr > td:nth-child(5) {
  width: 7%;
  background-color: #f8fafa;
  text-align: center;
  border-left: solid 1px #e7e9e8;
  border-right: solid 1px #e7e9e8;
}
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.tab-body::-webkit-scrollbar {
  width: 0.5%;
  height: 32px;
  background-color: #f5f5f5;
}
/*/!*定义滚动条的轨道，内阴影及圆角*!/*/
/*.tab-body::-webkit-scrollbar-track{*/
/*/!*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*!/*/
/*border-radius: 10px;*/
/*background-color: #f5f5f5;*/
/*}*/
/*定义滑块，内阴影及圆角*/
.tab-body::-webkit-scrollbar-thumb {
  /*width: 10px;*/
  height: 40px;
  border-radius: 40px;
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
  background-color: #34bb45;
}
.tabQues tr td,
.tab-body tr td {
  /*    font-size: 12px; */
  padding: 2px;
  /* color:#767977; */
  /*width: 10%;*/
}
.tab-body tr td span:nth-child(2),
.tabQues tr td span:nth-child(2) {
  max-width: 95%;
  display: inline-block;
  line-height: 30px;
  float: left;
}
.tab-head tr td span:nth-child(2) {
  max-width: 95%;
  display: inline-block;
  float: left;
  font-size: 14px;
  line-height: 21px;
}

/*閿熸枻鎷烽敓鏂ゆ嫹閿熸枻鎷烽敓鏂ゆ嫹璇撮敓鏂ゆ嫹*/
.explainBox {
  margin: 15% auto;
  width: 500px;
  text-align: center;
  border-radius: 10px;
  background-color: #ffffff;
  display: none;
}
.explainBox p {
  width: 80%;
  margin: auto;
  padding: 0 0 20px 0;
  text-align: center;
  border-bottom: solid 1px #e7e9e8;
  font-size: 24px;
  margin-bottom: 10px;
}
.explainBox span {
  display: block;
  width: 80%;
  margin: auto;
  text-align: left;
  font-size: 14px;
}
.explainBox .btnKnow {
  margin-top: 15px;
  margin-bottom: 20px;
}
/*绀烘剰寮圭獥*/
.signalBox {
  margin: 5% auto;
  width: 60%;
  min-height: 70%;
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
  display: none;
}
.signalBox .btnClose {
  margin-top: 1%;
  margin-left: 90%;
  margin-bottom: 3%;
}
.signalBox .imgSignal {
  margin: 10px auto;
}
.signalSE2 {
  min-height: 50%;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.signalSE2 .imgSignal {
  max-height: 200px;
  width: auto;
}
.signalBox p {
  width: 86%;
  margin: auto;
  /*float: left;*/
}
.signalBox .loop {
  float: right;
}
.signalBox p span {
  display: block;
  float: left;
  font-size: 1.2em;
}
/* .signalBox p span:first-child{
  color:#34bb45;
} */
.signalBox p .signalwz {
  width: 90%;
}
.signalBox .btnKnow {
  margin-top: 30px;
}
/*閿熺粨浜ら敓缁烇拷閿熸枻鎷*/
.uploadBox {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
  /* margin: 15% auto; */
  width: 500px;
  height: 300px;
  text-align: center;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #e7e9e8;
  display: none;
}
.uploadBox p {
  text-align: center;
  font-size: 20px;
}
.uploadBox i {
  width: 70px;
  height: 70px;
  background: url(src/assets/img/upload.png) no-repeat center center;
  background-size: 100% 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.btn-short {
  width: 150px;
  margin-left: 10px;
}
.uploadBox span {
  display: block;
  margin-top: 10px;
}
.uploadBox span a {
  color: #222222;
  outline: none;
}
.btnCheck {
  border: solid 1px #34bb45;
  color: #34bb45;
}
/*閿熸枻鎷烽敓绐栭潻鎷烽敓绐栫鎷烽敓鏂ゆ嫹*/
.payBox {
  margin: 15% auto;
  width: 500px;
  height: 300px;
  text-align: center;
  border-radius: 10px;
  background-color: #ffffff;
  border: solid 1px #e7e9e8;
  display: none;
}
.payBox p {
  text-align: center;
  margin: 10px;
  color: #34bb45;
  font-size: 24px;
}
.payBox i {
  width: 70px;
  height: 70px;
  background: url(src/assets/img/pay.png) no-repeat center center;
  background-size: 100% 100%;
  display: block;
  margin: 0 auto;
}
.payBox span {
  display: block;
  margin-top: 20px;
}
.payBox button a {
  color: #ffffff;
}

/*閿熸枻鎷烽敓鏂ゆ嫹*/
.couponBox {
  position: absolute;
  top: 11%;
  left: 8.5%;
  width: 80%;
  height: 30%;
  text-align: center;
}
.spinnerExample,
.zero {
  width: 20px;
  border: none;
  color: #f66232;
  font-size: 32px;
  display: inline-block;
  border-bottom: solid 1px #e7e9e8;
  /*padding-top: 10px;*/
}
.zero {
  margin-right: 5px;
}
.spinner {
  /*border: solid 1px red;*/
  width: 100px;
  display: inline-block;
}
.zero::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.spinner button,
.spinner .value {
  /*text-align: center;*/
  display: inline-block;
  /*float: right;*/
  /*margin-top: -0.3rem;*/
}
.increase {
  /*margin-right: 10%;*/
}
.spinner button {
  width: 20px;
  height: 40px;
  outline: none;
  padding: 0;
  /*background-color: red;*/
}
.increase {
  background: url("src/assets/img/arrow_o.png") no-repeat 50%;
  background-size: 60% auto;
}
.decrease {
  background: url("src/assets/img/arrow_o.png") no-repeat 50%;
  background-size: 60% auto;
  transform: rotate(-180deg);
  -ms-transform: rotate(-180deg); /* IE 9 */
  -moz-transform: rotate(-180deg); /* Firefox */
  -webkit-transform: rotate(-180deg); /* Safari 閿熸枻鎷�Chrome */
  -o-transform: rotate(-180deg); /* Opera */
}
.screenBox hr {
  border: none;
  border-bottom: solid 1px #dadddd;
  margin-top: 20px;
  width: 100%;
}
.couponBox > ul li {
  width: 17%;
  height: 80px;
  float: left;
  border: solid 1px #e7e9e8;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0 0 5px #b5b9bd;
  text-align: center;
  font-size: 15px;
  padding-top: 20px;
  cursor: pointer;
}
.couponBox > ul .active {
  border: solid 2px #34bb45;
  box-shadow: none;
}
.couponBox > ul li span {
  color: #f66232;
  font-size: 32px;
  display: inline-block;
  padding-top: 10px;
}
.couponBox > ul li i {
  display: block;
  width: 40px;
  height: 20px;
  background-color: #f66232;
  color: #ffffff;
  float: right;
  margin-right: -2px;
  margin-top: -22px;
}
.couponBox > p {
  margin-top: 130px;
  text-align: left;
}
.couponBox > p > i {
  color: #34bb45;
  font-size: 15px;
  vertical-align: middle;
  padding-right: 5px;
}
.couponBox .btn-default {
  width: 100px;
  height: 28px;
  margin: 10px;
}
.payform {
  color: #34bb45;
}
.payPlatform {
  margin-top: 20px;
  text-align: left;
  padding-bottom: 120px;
}
.payPlatform label {
  vertical-align: middle;
  padding-left: 5px;
  padding-right: 10px;
  font-size: 15px;
}
.payPlatform p {
  color: #ff7f51;
  padding: 10px 0 0 5px;
}
.payPlatform ul {
  width: 40%;
  margin: auto;
}
.payPlatform ul li {
  width: 40%;
  height: 130px;
  float: left;
  border: solid 1px #e7e9e8;
  /*margin: 10px;*/
  margin: 10px 0;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}
.payPlatform ul li img {
  padding-top: 20px;
}
.payPlatform ul li p {
  color: #222222;
  font-size: 20px;
}
.payPlatform ul li:last-child {
  margin-left: 18%;
}
/*.payPlatform ul li:first-child{*/
/*margin-left: 5px;*/
/*}*/
/*.payPlatform ul li:last-child{*/
/*border: dashed 1px #e7e9e8;*/
/*line-height: 40px;*/
/*}*/
.payPlatform ul > .active {
  border: solid 1px #34bb45;
  background: url("src/assets/img/select.jpg") no-repeat 100% 100%;
  background-size: 12% 35%;
}
.couponBox .money {
  clear: both;
  margin-top: 80px;
  /*padding-top: 10px;*/
  text-align: center;
}
.couponBox .money span {
  color: #f66232;
  font-size: 32px;
  display: inline-block;
}
.couponBox .btnPay {
  width: 200px;
  height: 34px;
}
.couponBox .btnPay a {
  color: #ffffff;
}
/*初步结果页*/
.resBox {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  display: none;
}
.resBox p {
  clear: both;
  font-size: 1.3em;
  line-height: 1.95em;
  padding-bottom: 10px;
  margin-top: 20px;
  color: #565857;
  text-align: left;
}
.resBox .p_indent {
  clear: both;
  font-size: 1.3em;
  line-height: 1.95em;
  /*     padding-bottom: 10px;
  margin-top:0; */
  color: #565857;
  text-align: left;
}

.resBox .di {
  margin-top: 0;
}
.resBox p i {
  /*     font-size: 22px;
  color:#37bd46; */
  border-bottom: solid 1px;
  font-weight: bold;
  font-size: 20px;
}
.resBox p i.month {
  font-size: 22px;
  color: #37bd46;
  border-bottom: none;
}
.res3 p i {
  border-bottom: solid 1px;
}
.resBox .p_indent,
.resBox .gao,
.resBox .jie,
resBox .di,
resBox .dilist,
resBox .jielist {
  text-indent: 2.6rem;
}
.resBox .gao,
.resBox .jie,
.resBox .di,
.resBox .di1,
.resBox .di2,
.resBox .dilist {
  display: none;
  text-indent: 2.6rem;
}
.resBox .gao img {
  vertical-align: text-bottom;
}

.resBox .di i {
  /*  color:#fe6333; */
}
.resBox .dilist,
.resBox .djielist {
  padding-bottom: 10px;
}
.resBox .dilist li,
.resBox .jielist li {
  font-size: 22px;
  font-weight: bold;
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
  text-indent: 2.6rem;
}
.resBox .dilist li i,
.resBox .jielist li i {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  vertical-align: middle;
  margin-right: 5px;
  margin-top: -2px;
}
.resBox .dilist li i {
  background-color: #fe6333;
}
.resBox .jielist li i {
  background-color: #37bd46;
}
.resBox span {
  /*   	font-size:1.1em;
  line-height:2em;
  display: inline-block;
  text-align: left;
  float: left;
  color: #565857; */
}
.res3 span {
  font-size: 1em;
  line-height: 1.95em;
  padding-bottom: 10px;
  margin-top: 0;
  float: none;
  display: inline;
  color: #565857;
  text-align: left;
}
.resBox > img {
  float: right;
  margin-top: 40px;
  height: 50px;
}
.resBox > div {
  clear: both;
  width: 100%;
  margin-top: 50px;
}
.btnDetail {
  clear: both;
  /* 	margin-top:140px; */
}
.resultBox .back {
  text-align: left;
  padding-left: 9%;
  cursor: pointer;
}
.resultBox h2 {
  font-size: 24px;
}
.resInfo {
  width: 80%;
  margin: auto;
  height: 83px;
  text-align: left;
  border: solid 1px #e1e2e1;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #34bb45;
  overflow: hidden;
}
.resInfo > table {
  width: 100%;
}
.resInfo table tr .asqtd {
  width: 239px;
  /* border:1px solid red; */
}
.resInfo table tr .asqtd3 {
  width: 213px;
  /* border:1px solid red; */
}
.resInfo .asqtd img {
  width: 95%;
  text-align: left;
  margin-top: 9px;
  margin-left: 10px;
}
.resInfo .asqtd3 img {
  width: 95%;
  text-align: left;
  margin-top: 9px;
  margin-left: 10px;
}
.resInfo .testLogo {
  position: relative;
  /* width:70%; */
  width: 96%;
  height: 60%;
  margin: 15px;
  background-color: #ffffff;
  border-radius: 4px;
  /*  float: right; */
  /*text-align: left;*/
  /*vertical-align: middle;*/
  /* float: left; */
}
.resInfo .testLogo p {
  text-align: left;
  height: 100%;
  line-height: 32px;
  display: inline-block;
  color: #34bb45;
  font-weight: bold;
  font-size: 32px;
  /*    letter-spacing: 2px; */
  padding: 8px 0 10px 12px;
  margin: 0;
  /* height: 30px; */
  /* vertical-align: middle; */
}
.resInfo .testLogo .month {
  font-size: 32px;
  font-weight: bold;
}
.resInfo .testLogo .desc {
  /* width: 140px; */
  float: right;
  text-align: right;
  display: inline-block;
  /* color: #FFFFFF; */
  font-size: 14px;
  font-weight: lighter;
  line-height: 20px;
  padding: 5px 12px 5px 5px;
}
.testInfo {
  width: 80%;
  margin: auto;
  margin-top: 12px;
  height: 80px;
}
.testInfo tr td {
  width: 50%;
  /*font-size: .06rem;*/
  text-align: left;

  /*padding: 0 10px;*/
}
.testInfo tr td > span {
  color: #34bb45;
  /*font-size: .06rem;*/
}
.testInfo tr td > .baby {
  color: #000;
}
.resLetter {
  width: 80%;
  text-align: left;
  margin: auto;
  padding-left: 1%;
}
.resLetter h3 {
  font-weight: bold;
  padding: 10px 0;
}
.resLetter p {
  line-height: 20px;
}
.resCon {
  width: 100%;
  height: 80%;
  margin-top: 20px;
}
.resCon > div {
  width: 100%;
  height: 95%;
  text-align: center;
  /*     padding-right: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  top: 0;
  left: 0; */
}
.resRecord {
  width: 80%;
  margin: auto;
  text-align: left;
}
h2 {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  /*float: left;*/
  margin-top: 25px;
  margin-bottom: 10px;
  padding-left: 1%;
}

.resRecord h2 span {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.5rem;
}

.resRecord table {
  margin-top: 1%;
}
.resRecord > span,
.resQues > span {
  text-align: right;
  float: right;
  margin-top: 25px;
}
.resRecord > span {
  text-align: left;
  float: right;
  margin-top: 25px;
}
.resRecord > span > i,
.resQues > span > i {
  color: #34bb45;
  font-size: 15px;
  vertical-align: middle;
  padding-right: 5px;
}
.resQues h2 span {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.5rem;
}
.tabRecord {
  width: 100%;
  /*margin-left: 1%;*/
  /*border: solid 1px red;*/
  float: left;
  border: solid 1px #333;
  border-collapse: collapse;
  border-spacing: 0;
}
.tabRecord tr {
  border-bottom: dashed 1px #e1e2e1;
}
.tabRecord tr th {
  font-weight: bold;
  border-bottom: solid 1px #333;
}
.tabRecord tr th,
.tabRecord tr td {
  width: 10%;
  height: 30px;
  text-align: center;
  font-size: 17px;
}
.tabRecord tr th:nth-child(1),
.tabRecord tr td:nth-child(1) {
  text-align: left;
  width: 14%;
  padding-left: 2%;
  border-right: solid 1px #333;
}
.tabRecord tr th:nth-child(8),
.tabRecord tr th:nth-child(9) {
  border-left: solid 1px #333;
}
.tabRecord tr td:nth-child(8),
.tabRecord tr td:nth-child(9) {
  color: #34bb45;
  border-left: solid 1px #333;
}
.tabSection {
  display: inline-block;
  width: 43%;
  margin-left: 5%;
  /*float: right;*/
}
.tabSection tr th {
  /*width: 60%;*/
  height: 30px;
  font-weight: bold;
  text-align: center;
}
.tabSection tr td {
  width: 100%;
  height: 30px;
}
.tabSection .area {
  width: 100%;
  height: 14px;
  border: solid 1px #34bb45;
  background: linear-gradient(
    left,
    #99dda2 50%,
    #e1f5e3 50%,
    #e1f5e3 60%,
    #ffffff 60%
  );
  background: -o-linear-gradient(
    left,
    #99dda2 50%,
    #e1f5e3 50%,
    #e1f5e3 60%,
    #ffffff 60%
  );
  background: -moz-linear-gradient(
    left,
    #99dda2 50%,
    #e1f5e3 50%,
    #e1f5e3 60%,
    #ffffff 60%
  );
  background: -webkit-linear-gradient(
    left,
    #99dda2 50%,
    #e1f5e3 50%,
    #e1f5e3 60%,
    #ffffff 60%
  );
}
.tabSection .area li {
  float: left;
  line-height: 14px;
  width: 26px;
  height: 14px;
  text-align: center;
  /*border: solid 1px red;*/
}
.tabSection .area li span {
  display: inline-block;
  width: 6px;
  height: 6px;
  text-align: center;
  border-radius: 4px;
  border: solid 1px #34bb45;
  background-color: #ffffff;
}
.tabSection .area li .active {
  background-color: #34bb45;
}
.record {
  width: 50%;
  margin-left: 1%;
  float: left;
}
.scoreList {
  width: 100%;
  float: left;
}
.scoreList li {
  float: left;
  width: 16%;
  text-align: center;
}
.scoreList li strong {
  display: block;
  font-weight: bold;
  padding: 5px 0;
}
.total {
  text-align: center;
}
.total strong {
  display: inline-block;
  font-weight: bold;
  margin-top: 20px;
}
.total span {
  color: #34bb45;
}
.resQues {
  width: 80%;
  margin: auto;
  text-align: left;
}
.resQues,
.resExplain,
.resScore {
  width: 80%;
  margin: auto;
  text-align: left;
}
.resQues tr td {
  width: 7%;
}
.resQues tr td:nth-child(1),
.resQues tr td:nth-child(4) {
  width: 36%;
  text-align: left;
}
.resQues tr td p {
  padding-left: 1%;
}
.resQues textarea {
  border: solid 1px #e7e9e8;
  height: 60px;
  width: 96%;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 8px;
}
.copy {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 20px;
}
.copy span {
  text-align: center;
}
.btnAdvice {
  width: 300px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.btnAdvice > a {
  color: #ffffff;
}
.resQues > p,
.resRecord > p {
  padding-top: 20px;
  text-align: right;
  color: #34bb45;
  cursor: pointer;
}
.resQues > p > img,
.resRecord > p > img {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); /* IE 9 */
  -moz-transform: rotate(-90deg); /* Firefox */
  -webkit-transform: rotate(-90deg); /* Safari 閿熸枻鎷�Chrome */
  -o-transform: rotate(-90deg); /* Opera */
}

.resExplain h2 {
  padding-left: 0;
}
.resExplain h2 span {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2.5rem;
}
.resExplain p {
  font-size: 1.3em;
  /*line-height: .15rem;*/
  padding-top: 5px;
}
.resExplain p span {
  /*font-size: .06rem;*/
  color: #34bb45;
}
.resExplain p .baby {
  color: #000;
}
.resQues .tabQues {
  border-bottom: none;
}
.resCount,
.resScore > div {
  padding-left: 1%;
  margin-top: 20px;
}
.resCount > p {
  line-height: 20px;
  font-size: 14px;
}
.resCount > p > span {
  color: #34bb45;
  /*font-size: .06rem;*/
}
.resCount > p > .baby {
  color: #000;
}
.resScore > div > p {
  color: #565857;
  font-weight: bold;
  font-size: 18px;
  /*font-size: .06rem;*/
  line-height: 24px;
  margin-top: 10px;
}
.resScore > div > .factor p {
  color: #565857;
  font-weight: bold;
  font-size: 18px;
  /*font-size: .06rem;*/
  line-height: 24px;
  margin-top: 10px;
}
.resScore > div > .factor span {
  font-size: 16px;
}
.resCount > p > .totals {
  display: inline-block;
  width: 40px;
  text-align: center;
  border-bottom: solid 1px #565857;
}
.tabScore {
  margin: 0 2%;
  width: 90%;
  height: 70px;
  border-collapse: collapse;
  border-spacing: 0;
  /*background-color: #f2f2f2;*/
}
.tabScore tr td {
  width: 33.33%;
  height: 50%;
  line-height: 1.5;
  border: solid 1px #ecebeb;
  text-align: center;
}
.tabScore tr:first-child {
  background-color: #faf9f9;
}
.resScore > div > span {
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  padding-left: 2%;
}
.resScore > div > p > i,
.resScore > div > .factor p > i {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #34bb45;
  margin-right: 5px;
}
.tabScoreSe2 tr td {
  width: 11%;
}
.tabScoreSe2 tr td:nth-child(4n + 1) {
  font-weight: bold;
}
.tabScoreSe2 tr td:nth-child(4n + 4) {
  width: 0.5%;
}
.tabScoreSe2 tr:last-child td {
  text-align: left;
  padding-left: 10px;
}
/*閿熸枻鎷烽敓鐙℃枻鎷烽敓鏂ゆ嫹*/
.adviceBox {
  position: absolute;
  top: 11%;
  left: 8.5%;
  width: 80%;
  height: 80%;
  text-align: center;
}
.adviceBox h1 {
  font-size: 28px;
  color: #34bb45;
  padding: 60px 0 15px 0;
}
.adviceList {
  width: 94%;
  margin: auto;
  margin-top: 10px;
}
.adviceList li {
  width: 17%;
  height: 180px;
  float: left;
  color: #ffffff;
  border-radius: 10px;
  margin: 30px 1.5%;
  text-align: center;
  font-size: 15px;
  /*padding-top: 80px;*/
}
.adviceList li:nth-child(1) {
  background: url("src/assets/img/advice01.png") no-repeat;
  background-size: cover;
}
.adviceList li:nth-child(2) {
  background: url("src/assets/img/advice02.png") no-repeat;
  background-size: cover;
}
.adviceList li:nth-child(3) {
  background: url("src/assets/img/advice03.png") no-repeat;
  background-size: cover;
}
.adviceList li:nth-child(4) {
  background: url("src/assets/img/advice04.png") no-repeat;
  background-size: cover;
}
.adviceList li:nth-child(5) {
  background: url("src/assets/img/advice05.png") no-repeat;
  background-size: cover;
}
.adviceList li .active {
  display: block;
  width: 40px;
  height: 40px;
  background: url("src/assets/img/star.png");
  background-size: 100% 100%;
  float: left;
  margin-top: -15px;
  margin-left: -15px;
}
.adviceList > li > a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  color: #ffffff;
}
.adviceList li a:hover {
  background-color: #34bb45;
}
.adviceList li p {
  font-size: 22px;
  padding: 80px 5px 5px 5px;
}
.adviceBox .tip {
  float: left;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 20px;
}
.linkFile {
  display: inline-block;
  float: right;
  margin: 5px 30px;
}
.adviceBox .arrow_r {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg); /* IE 9 */
  -moz-transform: rotate(-90deg); /* Firefox */
  -webkit-transform: rotate(-90deg); /* Safari 閿熸枻鎷�Chrome */
  -o-transform: rotate(-90deg); /* Opera */
}
.adviceBox .btn-default {
  margin-top: 50px;
  margin-left: 45px;
  margin-bottom: 10px;
}
.download {
  color: #34bb45;
}

.tag {
  width: 110px;
  height: 60px;
  border: 1px solid #e7e9e8;
  position: absolute;
  background-color: #fff;
  margin-top: -150px;
  margin-left: -3px;
  border-radius: 5px;
  display: none;
}
.tag:before,
.tag:after {
  content: "";
  display: block;
  border-width: 10px;
  position: absolute;
  margin-top: 60px;
  left: 45px;
  border-style: solid dashed dashed;
  border-color: #e7e9e8 transparent transparent;
  font-size: 0;
  line-height: 0;
}
.tag:after {
  bottom: -19px;
  border-color: #fff transparent transparent;
}
.tag p {
  margin-top: 2px;
  font-size: 14px;
  color: #34bb45;
}
.gameBox .gameList li .tag > span {
  display: block;
  width: 80%;
  margin: auto;
  text-align: left;
}
.gameBox .btn-default {
  margin-top: 50px;
}
/*閿熸枻鎷锋垙閿熸枻鎷烽敓鏂ゆ嫹*/
.videoBox {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -312px;
  margin-left: -420px;
  /*width: 52.3%;*/
  width: 1000px;
  /*height: 62.8%;*/
  height: 624px;
  border-radius: 20px;
  background-color: #ffffff;
}
.videoBox .btnClose {
  margin-top: 0.5%;
  margin-left: 95.5%;
}
.videoBox h1 {
  font-size: 68px;
  color: #34bb45;
  font-weight: lighter;
  text-align: left;
  padding: 50px 3%;
}
.videoBox .page > div {
  width: 94%;
  height: 50%;
  margin: auto;
  border-top: solid 1px #e7e9e8;
  border-bottom: solid 1px #e7e9e8;
}
.videoBox .page > div > div {
  padding: 10px 0;
  width: 48%;
  float: left;
}
.videoBox .page > div > div > p {
  padding: 20px 0;
}
.videoBox .page > div > div > h2 {
  font-size: 18px;
  padding-bottom: 10px;
}
.videoBox .page > div > div > ul li {
  padding: 3px 0;
}
.videoBox .dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
  margin: 0 5px;
}
.videoBox video {
  float: right;
  width: 48%;
  height: auto;
  margin-top: 35px;
}
.videoBox .btnPlay {
  position: absolute;
  top: 45%;
  left: 70%;
}
.videoBox .page > .bottom {
  clear: both;
  width: 100%;
  height: 50px;
  border: none;
  margin-bottom: 0;
  background-color: #f4f7f6;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.videoBox .page > .bottom button {
  width: 100px;
  height: 30px;
  border-radius: 15px;
  background-color: transparent;
  border: solid 2px #e7e9e8;
  margin: 13px 30px;
}
.videoBox .page > .bottom .btnPrev {
  float: left;
}
.videoBox .page > .bottom .btnNext {
  float: right;
  display: block;
}
.videoBox .page > .bottom span {
  margin-top: 9px;
}
/*游戏活动*/
.gameBox {
  width: 100%;
  /*    height: 80%; */
  margin: auto;
  margin-top: 1%;
  text-align: center;
  overflow-y: auto;
  /*     padding-right:20px;
  margin-left:20px; */
}
.gameBox > div {
  width: 90%;
  margin: auto;
}
.gameBox .titleBox {
  width: 90%;
  height: 80px;
  margin: auto;
  border: solid 1px #e1e2e1;
  border-radius: 10px;
  background-color: #34bb45;
}
.gameBox .titleBox .testBox {
  position: relative;
  width: 38%;
  height: 70%;
  margin: 11px;
  background-color: #ffffff;
  border-radius: 10px;
  float: left;
}
.gameBox .titleBox .testBox .month {
  width: 80px;
  display: block;
  float: left;
  color: #34bb45;
  font-size: 36px;
  line-height: 50px;
  font-weight: bold;
  text-align: center;
}
.gameBox .titleBox .testBox p {
  color: #34bb45;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 16px;
  text-align: center;
  margin-bottom: 5px;
}
.gameBox .titleBox .testBox .desc {
  display: block;
  width: 100%;
  letter-spacing: 2px;
  font-size: 12px;
}
.gameBox .titleBox > p {
  color: #ffffff;
  line-height: 50px;
  margin-top: 15px;
}
.gameBox .accord {
  text-align: left;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}
.gameBox .gameList {
  width: 90%;
  text-align: left;
  margin: 20px auto;
}
.gameBox .gameList ul li {
  min-height: 80px;
  border-bottom: solid 1px #e7e9e8;
  /*border: solid 1px red;*/
}
.gameBox .gameList ul li:first-child {
  border-top: solid 1px #e7e9e8;
}
.gameBox .gameList ul li img {
  float: left;
  width: 60px;
  margin: 9 16px;
}
.gameBox .gameList ul li p {
  font-size: 16px;
  font-weight: 600;
  padding: 11px 0 4px 0;
  margin-bottom: 0;
}
.gameBox .gameList ul li span {
  display: block;
  width: 90%;
  font-size: 14px;
  padding-bottom: 11px;
}
.gameBox .according {
  width: 90%;
  margin: auto;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
  padding: 30px 10px 20px 10px;
  display: none;
}
.gameBox .according span {
  font-weight: 600;
}
.gameBox .according .ergoregion {
  font-size: 14px;
  font-weight: 600;
}
.gameBox .according .ergoregion span {
  font-size: 14px;
  font-weight: 600;
  color: #34bb45;
}
.gameBox .recBox {
  width: 90%;
  margin: auto;
  display: none;
}
.gameBox .recBox .recList {
  border: solid 1px #e7e9e8;
  text-align: left;
  border-radius: 10px;
  margin: 10px 0;
  display: none;
}
.gameBox .recBox .recList img {
  float: left;
  width: 60px;
  margin: 14px 16px;
}
.gameBox .recBox .recList ul {
  width: 84%;
  float: left;
}
.gameBox .recBox .recList li {
  margin: 10px 0;
}
.gameBox .recBox .recList li i {
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #34bb45;
  margin-right: 5px;
  float: left;
  margin-top: 16px;
}
.gameBox .recBox .recList li div {
  display: inline-block;
  width: 97%;
}
.gameBox .recBox .recList li p {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 0 4px 0;
}
.gameBox .recBox .recList li span {
  display: inline-block;
}
.complete {
  margin: 20px auto;
}
.complete a {
  color: #ffffff;
}
.fontStyle {
  font-weight: 600;
  font-style: italic;
}
.resScore > div > .explain {
  display: none;
}
/*关联逻辑*/
.expInfoBox {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  /*margin: 15% auto;*/
  height: auto;
  width: 500px;
  text-align: center;
  border-radius: 10px;
  background-color: #ffffff;
  color: #565857;
  display: none;
}
.expInfoBox .expBtnBox {
  text-align: center;
}
.expInfoBox .expInfo {
  padding: 25px 15px;
  font-size: 14px;
}
.expInfoBox .expBtnBox {
  padding: 10px 0 25px 0;
}
.expInfoBox .expBtnBox button {
  margin: 0 20px;
}
.expInfoBox .sureUpdate {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  font-size: 12px;
  border: 1px solid #36bd46;
  background: #36bd46;
  color: #ffffff;
}
.expInfoBox .sureCanlce {
  width: 130px;
  height: 40px;
  border-radius: 20px;
  font-size: 12px;
  border: 1px solid #36bd46;
  background: #fff;
  color: #36bd46;
}
@media (max-width: 1024px) {
  .back {
    width: 90%;
  }
  .resInfo,
  .testInfo,
  .resRecord,
  .resQues,
  .resExplain,
  .resScore {
    width: 90%;
  }
  .resInfo .testLogo p {
    font-size: 30px;
  }
}
