<!-- <div class="asq3-test">
  <div class="header">
    <div style="width: 100%; margin: 10px 0">
      <button class="hw-small-btn gray-btn">
        <img src="assets/img/back.png" alt="" />返回
      </button>
    </div>
  </div>
  <div class="main">
   
  </div>
  <div class="footer">
    <div>
      <button>返回</button>
      <button>继续</button>
    </div>
  </div>
</div> -->

<div class="asq3-test">
  <div>
    <div style="width: 100%; margin: 10px 0">
      <button class="hw-small-btn gray-btn">
        <img src="assets/img/back.png" alt="" />返回
      </button>
    </div>
  </div>
  <div class="quesBox">
    <h1>沟通</h1>
    <p>
      这些选项是什么意思
      <img src="assets/img/arrow.png" alt="" />
    </p>
    <table class="tabQues">
      <tbody>
        <tr class="line">
          <td></td>
          <td>是</td>
          <td>有时是</td>
          <td>否</td>
          <td>帮助</td>
        </tr>
        <tr class="model queNum1">
          <td>
            <span class="dot2">1.</span
            ><span class="must">孩子有时候会发出喉音或“咯咯”声吗？</span>
          </td>
          <td><input type="radio" name="rdo0" value="1" /></td>
          <td><input type="radio" name="rdo0" value="2" /></td>
          <td><input type="radio" name="rdo0" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_audio.png"
              alt=""
              class="signal"
              data-url="2-1"
              data-type="2"
            /><audio
              src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-1.mp3"
              preload="none"
            ></audio>
          </td>
        </tr>
        <tr class="model queNum2">
          <td>
            <span class="dot2">2.</span
            ><span class="must">孩子会发出“哦” “咯” 和“啊”等咕咕声吗?</span>
          </td>
          <td><input type="radio" name="rdo1" value="1" /></td>
          <td><input type="radio" name="rdo1" value="2" /></td>
          <td><input type="radio" name="rdo1" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_audio.png"
              alt=""
              class="signal"
              data-url="2-2"
              data-type="2"
            /><audio
              src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-2.mp3"
              preload="none"
            ></audio>
          </td>
        </tr>
        <tr class="model queNum3">
          <td>
            <span class="dot2">3.</span
            ><span class="must">当您对孩子说话时,他/她能发出声音回应您吗?</span>
          </td>
          <td><input type="radio" name="rdo2" value="1" /></td>
          <td><input type="radio" name="rdo2" value="2" /></td>
          <td><input type="radio" name="rdo2" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_audio.png"
              alt=""
              class="signal"
              data-url="2-3"
              data-type="2"
            /><audio
              src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-3.mp3"
              preload="none"
            ></audio>
          </td>
        </tr>
        <tr class="model queNum4">
          <td>
            <span class="dot2">4.</span
            ><span class="must">当您对孩子说话时,他/她会对您微笑吗?</span>
          </td>
          <td><input type="radio" name="rdo3" value="1" /></td>
          <td><input type="radio" name="rdo3" value="2" /></td>
          <td><input type="radio" name="rdo3" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_audio.png"
              alt=""
              class="signal"
              data-url="2-4"
              data-type="2"
            /><audio
              src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-4.mp3"
              preload="none"
            ></audio>
          </td>
        </tr>
        <tr class="model queNum5">
          <td>
            <span class="dot2">5.</span
            ><span class="must">孩子会轻声咯咯笑吗？</span>
          </td>
          <td><input type="radio" name="rdo4" value="1" /></td>
          <td><input type="radio" name="rdo4" value="2" /></td>
          <td><input type="radio" name="rdo4" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_audio.png"
              alt=""
              class="signal"
              data-url="2-5"
              data-type="2"
            /><audio
              src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-5.mp3"
              preload="none"
            ></audio>
          </td>
        </tr>
        <tr class="model queNum6">
          <td>
            <span class="dot2">6.</span
            ><span class="must"
              >当您离开宝宝的视线,然后又出现在他/她面前时,他/她会笑起来或显得高兴吗？</span
            >
          </td>
          <td><input type="radio" name="rdo5" value="1" /></td>
          <td><input type="radio" name="rdo5" value="2" /></td>
          <td><input type="radio" name="rdo5" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_audio.png"
              alt=""
              class="signal"
              data-url="2-6"
              data-type="2"
            /><audio
              src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-6.mp3"
              preload="none"
            ></audio>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="tabQues">
      <tbody>
        <tr class="line">
          <td></td>
          <td>是</td>
          <td>有时是</td>
          <td>否</td>
          <td>帮助</td>
        </tr>
        <tr class="model queNum1">
          <td>
            <span class="dot2">1.</span
            ><span class="must"
              >当孩子面朝上躺着时，他/她能挥动双腿和双臂并晃动和扭动身体吗？</span
            >
          </td>
          <td><input type="radio" name="rdo6" value="1" /></td>
          <td><input type="radio" name="rdo6" value="2" /></td>
          <td><input type="radio" name="rdo6" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-7"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-7.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-7.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
        <tr class="model queNum2">
          <td>
            <span class="dot2">2.</span
            ><span class="must"
              >当孩子面朝下趴着时，他/她能把头转到侧面吗？</span
            >
          </td>
          <td><input type="radio" name="rdo7" value="1" /></td>
          <td><input type="radio" name="rdo7" value="2" /></td>
          <td><input type="radio" name="rdo7" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-8"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-8.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-8.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
        <tr class="model queNum3">
          <td>
            <span class="dot2">3.</span
            ><span class="must"
              >当孩子面朝下趴着时，他/她能抬起头并持续几秒钟吗？</span
            >
          </td>
          <td><input type="radio" name="rdo8" value="1" /></td>
          <td><input type="radio" name="rdo8" value="2" /></td>
          <td><input type="radio" name="rdo8" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-9"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-9.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-9.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
        <tr class="model queNum4">
          <td>
            <span class="dot2">4.</span
            ><span class="must">当孩子面朝上躺着时，他/她能踢双腿吗？</span>
          </td>
          <td><input type="radio" name="rdo9" value="1" /></td>
          <td><input type="radio" name="rdo9" value="2" /></td>
          <td><input type="radio" name="rdo9" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-10"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-10.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-10.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
        <tr class="model queNum5">
          <td>
            <span class="dot2">5.</span
            ><span class="must"
              >当孩子面朝上躺着时，他/她既能将头转向左侧又能将头转向右侧吗？</span
            >
          </td>
          <td><input type="radio" name="rdo10" value="1" /></td>
          <td><input type="radio" name="rdo10" value="2" /></td>
          <td><input type="radio" name="rdo10" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-11"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-11.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-11.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
        <tr class="model queNum6">
          <td>
            <span class="dot2">6.</span
            ><span class="must"
              >孩子趴着、抬着头时，他/她能把头向下放回到床上或地板上，而不是无力地跌落或垂落到床上或地板上吗？</span
            >
          </td>
          <td><input type="radio" name="rdo11" value="1" /></td>
          <td><input type="radio" name="rdo11" value="2" /></td>
          <td><input type="radio" name="rdo11" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_audio.png"
              alt=""
              class="signal"
              data-url="2-12"
              data-type="2"
            /><audio
              src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-12.mp3"
              preload="none"
            ></audio>
          </td>
        </tr>
      </tbody>
    </table>

    <table class="tabQues">
      <tbody>
        <tr class="line">
          <td></td>
          <td>是</td>
          <td>有时是</td>
          <td>否</td>
          <td>帮助</td>
        </tr>
        <tr class="model queNum1">
          <td>
            <span class="dot2">1.</span
            ><span class="must"
              >当孩子醒着时，他/她的手经常是紧紧地握成拳头吗？如果以前是，但现在不再是了，也请勾选“是”。</span
            >
          </td>
          <td><input type="radio" name="rdo12" value="1" /></td>
          <td><input type="radio" name="rdo12" value="2" /></td>
          <td><input type="radio" name="rdo12" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-13"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-13.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-13.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
        <tr class="model queNum2">
          <td>
            <span class="dot2">2.</span
            ><span class="must"
              >当您用手指触摸孩子的手心时，他/她会抓住您的手指吗？</span
            >
          </td>
          <td><input type="radio" name="rdo13" value="1" /></td>
          <td><input type="radio" name="rdo13" value="2" /></td>
          <td><input type="radio" name="rdo13" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-14"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-14.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-14.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
        <tr class="model queNum3">
          <td>
            <span class="dot2">3.</span
            ><span class="must"
              >当您把玩具放在孩子手里时，他/她能握一会儿吗？</span
            >
          </td>
          <td><input type="radio" name="rdo14" value="1" /></td>
          <td><input type="radio" name="rdo14" value="2" /></td>
          <td><input type="radio" name="rdo14" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-15"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-15.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-15.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
        <tr class="model queNum4">
          <td>
            <span class="dot2">4.</span
            ><span class="must">孩子的手能碰到自己的脸吗？</span>
          </td>
          <td><input type="radio" name="rdo15" value="1" /></td>
          <td><input type="radio" name="rdo15" value="2" /></td>
          <td><input type="radio" name="rdo15" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-16"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-16.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-16.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
        <tr class="model queNum5">
          <td>
            <span class="dot2">5.</span
            ><span class="must"
              >当孩子醒着时，他/她的双手是全部展开或部分展开的吗？通常孩子刚出生时是双手握拳的。</span
            >
          </td>
          <td><input type="radio" name="rdo16" value="1" /></td>
          <td><input type="radio" name="rdo16" value="2" /></td>
          <td><input type="radio" name="rdo16" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-17"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-17.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-17.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
        <tr class="model queNum6">
          <td>
            <span class="dot2">6.</span
            ><span class="must">孩子会抓挠自己身上的衣服吗？</span>
          </td>
          <td><input type="radio" name="rdo17" value="1" /></td>
          <td><input type="radio" name="rdo17" value="2" /></td>
          <td><input type="radio" name="rdo17" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-18"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-18.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-18.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
      </tbody>
    </table>

    <table class="tabQues">
      <tbody>
        <tr class="line">
          <td></td>
          <td>是</td>
          <td>有时是</td>
          <td>否</td>
          <td>帮助</td>
        </tr>
        <tr class="model queNum1">
          <td>
            <span class="dot2">1.</span
            ><span class="must">孩子能注视20～25厘米远处的物体吗？</span>
          </td>
          <td><input type="radio" name="rdo18" value="1" /></td>
          <td><input type="radio" name="rdo18" value="2" /></td>
          <td><input type="radio" name="rdo18" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-19"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-19.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-19.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
        <tr class="model queNum2">
          <td>
            <span class="dot2">2.</span
            ><span class="must"
              >当您在孩子周围走动时，他/她的眼睛能跟着您移动吗？</span
            >
          </td>
          <td><input type="radio" name="rdo19" value="1" /></td>
          <td><input type="radio" name="rdo19" value="2" /></td>
          <td><input type="radio" name="rdo19" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-20"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-20.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-20.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
        <tr class="model queNum3">
          <td>
            <span class="dot2">3.</span
            ><span class="must"
              >当您将玩具在孩子面前约25厘米远处缓慢地左右移动时，他/她的眼睛，或者是转动头使眼睛跟着玩具移动吗？</span
            >
          </td>
          <td><input type="radio" name="rdo20" value="1" /></td>
          <td><input type="radio" name="rdo20" value="2" /></td>
          <td><input type="radio" name="rdo20" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-21"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-21.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-21.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
        <tr class="model queNum4">
          <td>
            <span class="dot2">4.</span
            ><span class="must"
              >当您将玩具在孩子面前约25厘米远处缓慢地从他/她的头部到胸部移动时，他/她的眼睛能跟随玩具移动吗？</span
            >
          </td>
          <td><input type="radio" name="rdo21" value="1" /></td>
          <td><input type="radio" name="rdo21" value="2" /></td>
          <td><input type="radio" name="rdo21" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-22"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-22.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-22.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
        <tr class="model queNum5">
          <td>
            <span class="dot2">5.</span
            ><span class="must"
              >当孩子被抱着坐着时，他/她会注视在他/她面前桌子上或地板上的杯子或拨浪鼓大小的玩具吗？</span
            >
          </td>
          <td><input type="radio" name="rdo22" value="1" /></td>
          <td><input type="radio" name="rdo22" value="2" /></td>
          <td><input type="radio" name="rdo22" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-23"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-23.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-23.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
        <tr class="model queNum6">
          <td>
            <span class="dot2">6.</span
            ><span class="must"
              >当孩子面朝上躺着时，您将玩具在他/她的上方晃动，他/她能朝玩具挥舞手臂吗？</span
            >
          </td>
          <td><input type="radio" name="rdo23" value="1" /></td>
          <td><input type="radio" name="rdo23" value="2" /></td>
          <td><input type="radio" name="rdo23" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-24"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-24.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-24.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
      </tbody>
    </table>

    <table class="tabQues">
      <tbody>
        <tr class="line">
          <td></td>
          <td>是</td>
          <td>有时是</td>
          <td>否</td>
          <td>帮助</td>
        </tr>
        <tr class="model queNum1">
          <td>
            <span class="dot2">1.</span
            ><span class="must">在没有喂奶时，孩子有时候也会吸吮嘴巴吗？ </span>
          </td>
          <td><input type="radio" name="rdo24" value="1" /></td>
          <td><input type="radio" name="rdo24" value="2" /></td>
          <td><input type="radio" name="rdo24" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_audio.png"
              alt=""
              class="signal"
              data-url="2-25"
              data-type="2"
            /><audio
              src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-25.mp3"
              preload="none"
            ></audio>
          </td>
        </tr>
        <tr class="model queNum2">
          <td>
            <span class="dot2">2.</span
            ><span class="must"
              >当孩子饿了、尿布湿了、累了或想让您抱的时候，他/她会哭吗？</span
            >
          </td>
          <td><input type="radio" name="rdo25" value="1" /></td>
          <td><input type="radio" name="rdo25" value="2" /></td>
          <td><input type="radio" name="rdo25" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_audio.png"
              alt=""
              class="signal"
              data-url="2-26"
              data-type="2"
            /><audio
              src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-26.mp3"
              preload="none"
            ></audio>
          </td>
        </tr>
        <tr class="model queNum3">
          <td>
            <span class="dot2">3.</span
            ><span class="must">孩子会对您微笑吗？</span>
          </td>
          <td><input type="radio" name="rdo26" value="1" /></td>
          <td><input type="radio" name="rdo26" value="2" /></td>
          <td><input type="radio" name="rdo26" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_audio.png"
              alt=""
              class="signal"
              data-url="2-27"
              data-type="2"
            /><audio
              src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-27.mp3"
              preload="none"
            ></audio>
          </td>
        </tr>
        <tr class="model queNum4">
          <td>
            <span class="dot2">4.</span
            ><span class="must"
              >当您对孩子微笑时，他/她会用微笑来回应您吗？</span
            >
          </td>
          <td><input type="radio" name="rdo27" value="1" /></td>
          <td><input type="radio" name="rdo27" value="2" /></td>
          <td><input type="radio" name="rdo27" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-28"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-28.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-28.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
        <tr class="model queNum5">
          <td>
            <span class="dot2">5.</span
            ><span class="must">孩子会看自己的手吗？</span>
          </td>
          <td><input type="radio" name="rdo28" value="1" /></td>
          <td><input type="radio" name="rdo28" value="2" /></td>
          <td><input type="radio" name="rdo28" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_img.png"
              alt=""
              class="signal"
              data-url="2-29"
              data-type="1"
            /><audio src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-29.mp3">
              preload="none"</audio
            ><img
              src="http://os.jtuntech.com/asq/img/signal-2/2-29.jpg"
              alt=""
              style="display: none"
            />
          </td>
        </tr>
        <tr class="model queNum6">
          <td>
            <span class="dot2">6.</span
            ><span class="must"
              >当孩子看见乳房或奶瓶时，他/她知道就要给他/她喂奶了吗？</span
            >
          </td>
          <td><input type="radio" name="rdo29" value="1" /></td>
          <td><input type="radio" name="rdo29" value="2" /></td>
          <td><input type="radio" name="rdo29" value="3" /></td>
          <td>
            <img
              src="assets/img/icon_audio.png"
              alt=""
              class="signal"
              data-url="2-30"
              data-type="2"
            /><audio
              src="http://os.jtuntech.com/asq/audio/ASQ3-2/2-30.mp3"
              preload="none"
            ></audio>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="divBtn">
      <button class="btnPre">返回</button>
      <button class="btnNext">继续</button>
    </div>
  </div>
  <div class="bottom">
    <span class="pagenum">1/6</span>
    <span>
      本问卷译自《年龄与发育进程问卷®-第三版》（ASQ-3™），Jane Squires和Diane
      Bricker。2009年布鲁克斯出版公司版权所有© <br />
      This is a translation of Ages&amp;Stages Questionnaires®,Third
      Edition:(ASQ-3™),Squires and bricker.©2009 Brookes Publishing Co.<br />
      由卞晓燕、陈进、陈静仪翻译
    </span>
  </div>
</div>
