<div class="update-box">
  <div class="wrapper">
    <div class="item">
      <h2 class="simple-title">2021/09/03更新内容：</h2>
      <div class="content">
        <p>
          1.优化扫码筛查：不再需要工作人员填写信息，只需展示二维码给家长即可。请注意，该二维码扫后立即失效。
        </p>
        <p><img src="assets/img/update12.jpg" /></p>
        <p>2.修改:修改了短信模板，使得不同筛查短信更加清晰。</p>
        <p>3.完善了提交问卷后的提示逻辑。</p>

        <p>4.更新了使用手册，点击左侧导航栏的使用手册下载即可查看</p>
        <p>5.修复了一些其他已知问题</p>
      </div>
    </div>

    <div class="item">
      <h2 class="simple-title">2019/9/12更新内容：</h2>
      <div class="content">
        <p>
          1.新增功能：短信筛查功能，通过向用户手机号发送答题链接短信的方式，使得用户在远程的情况下打开链接即可在线答题完成筛查问卷。
        </p>
        <p><img src="assets/img/update10.jpg" /></p>
        <p>2.完善了扫码筛查中二维码的使用逻辑。</p>
        <p>3.游戏活动页面增加了相应的提示信息。</p>
        <p><img src="assets/img/update11.jpg" /></p>
        <p>4.修改完善了一些其它已知问题。</p>
      </div>
    </div>

    <div class="item">
      <h2 class="simple-title">2019/8/05更新内容：</h2>
      <div class="content">
        <p>1.调整了部分下拉框的候选内容.</p>
        <p>2.修复了一些已知bug。</p>
      </div>
    </div>

    <div class="item">
      <h2 class="simple-title">2019/7/29更新内容：</h2>
      <div class="content">
        <p>1.添加了回车键触发部分按钮事件的功能。</p>
        <p>2.调整了部分返回按钮的位置。</p>
        <p>3.修改了平板上系统界面的自适应性。</p>
        <p>4.修复了一些已知Bug。</p>
      </div>
    </div>

    <div class="item">
      <h2 class="simple-title">2019/7/22更新内容：</h2>
      <div class="content">
        <p>1.完善了基本信息填写页面中的提示逻辑。</p>
        <p>2.新增功能：使用手册下载前先询问的功能。</p>
        <p><img src="assets/img/update7.jpg" /></p>
        <p>3.手机端扫码筛查中多个宝宝详情页面更改为直接展示多个宝宝。</p>
        <p><img src="assets/img/update8.jpg" /></p>
        <p>4.修复了一些已知Bug。</p>
      </div>
    </div>

    <div class="item">
      <h2 class="simple-title">2019/7/15更新内容：</h2>
      <div class="content">
        <p>1.新增功能：上线了一个发送通知的功能。</p>
        <p>2.修改宝宝库中筛选之后档案号变为正序排列的问题。</p>
        <p>3.修改宝宝库中全部档案的状态栏为空的问题。</p>
        <img src="assets/img/update6.jpg" />
        <p>4.修改了新用户筛查返回，筛查模式默认值发生改变的问题。</p>
        <p>5.修改了新用户筛查返回，再次点击新用户无响应的问题。</p>
        <p>6.对完善信息页面中返回按钮的手势进行了调整。</p>
        <p>7.修改老用户筛查输入信息关闭后不清空的问题。</p>
      </div>
    </div>

    <div class="item">
      <h2 class="simple-title">2019/7/08更新内容：</h2>
      <div class="content">
        <p>1. 修改孩子年龄为问卷年龄。</p>
        <img src="assets/img/update4.jpg" />
        <p>2. 修复点击重置按钮导致系统报错的问题。</p>
        <img src="assets/img/update5.jpg" />
      </div>
    </div>
    <div class="item">
      <h2 class="simple-title">2019/4/22更新内容：</h2>
      <div class="content">
        <p>1. 新增功能：企业端直接答题，可手动选择宝宝筛查日期。</p>
      </div>
    </div>
    <div class="item">
      <h2 class="simple-title">2019/4/10更新内容：</h2>
      <div class="content">
        <p>1. 修改扫码答题时偶尔会出现的单次提交却出现多条结果的问题。</p>
        <p>2. 修改不同机构下相同宝宝答题数据可能被覆盖的问题。</p>
        <p>
          3.
          修改了可能导致扫码答题偶尔无法提交的bug，并对扫码答题重复提交做了限制。
        </p>
      </div>
    </div>
    <div class="item">
      <h2 class="simple-title">2018/5/24更新内容：</h2>
      <div class="content">
        <p>1.“信息汇总页”顺序调整：</p>
        <p>
          用户完成问卷后，生成报告的顺序由“家长报告页”“信息汇总页”“游戏活动页”调整为“家长报告页”“游戏活动页”“信息汇总页”
        </p>
        <p>2.打印功能：</p>
        <p>打印功能现在可以选择“家长报告页+游戏活动页”和“全部”两种模式</p>
      </div>
    </div>

    <div class="item">
      <h2 class="simple-title">2018/4/16更新内容：</h2>
      <div class="content">
        <p>1. 综合问题答题流程优化：</p>
        <p>
          家长答题中，系统逐题判断是否需要填写具体内容。若需要填写内容，但是没有填写，则系统会标红题目作为提醒。
        </p>

        <p><img src="assets/img/update3.jpg" /></p>
      </div>
    </div>
    <div class="item">
      <h2 class="simple-title">2018/3/30更新内容：</h2>
      <div class="content">
        <p>1. 添加“游戏活动”下载打印功能：</p>
        <p>
          在左边的导航栏添加“游戏活动”选项。用户可以双击月龄框体查看具体内容，单机月龄框体多选下载打印，点击“全部”框体打印下载全部游戏活动。
        </p>
        <img src="assets/img/update1.png" />
        <p>2. 基本信息页添加“身份信息”项目：</p>
        <p>
          “身份信息”项目是选填项。家长可以在后面的下拉框中选择父母身份证、儿童身份证、诊疗卡号以及其他，并在前面的框体中填写对应内容。若填写了此项，在信息汇总页中会同步显示。
        </p>
        <img src="assets/img/update2.png" />
      </div>
    </div>
  </div>
</div>
