<div class="baby-add-manage vertical-layout" *ngIf="!selectScan">
  <toast-window *ngIf="showAuthorize" (closeEvent)="closeAuthorize()">
    <authorize-box></authorize-box>
  </toast-window>

  <toast-window *ngIf="showOldMember" (closeEvent)="closeOld()">
    <baby-in-member></baby-in-member>
  </toast-window>

  <toast-window *ngIf="showQuick" (closeEvent)="closeQuick()">
    <quick-box></quick-box>
  </toast-window>
  <div class="vertical-header">
    <div class="title green-title large-title underline-title">添加宝宝</div>
  </div>
  <div class="vertical-main">
    <div class="process">
      <ul class="col-sm-10" style="margin: 0 auto">
        <li class="current">
          <i>1</i>
          <b>选择筛查模式</b>
        </li>
        <li>
          <i>2</i>
          <b>填写家长信息生成二维码</b>
        </li>
        <li>
          <i>3</i>
          <b>扫描二维码获得问卷</b>
        </li>
      </ul>
    </div>
    <div class="wrapper col-sm-10" style="margin: 0px auto; margin-top: 20px">
      <div class="item">
        <div class="title">直接筛查</div>
        <div>
          <select [(ngModel)]="selectUser" (ngModelChange)="changeUser()">
            <option value="" disabled>请选择</option>
            <!-- <option value="0">新用户</option> -->
            <option value="1">直接筛查</option>
          </select>
        </div>
      </div>

      <div class="item">
        <div class="title">扫码筛查</div>
        <div>
          <select [(ngModel)]="selectScan" (ngModelChange)="changeScan($event)">
            <option value="" disabled>请选择</option>
            <option value="ASQ-3">ASQ-3</option>
            <option value="ASQ:SE">ASQ:SE</option>
            <option value="ASQ:SE-2">ASQ:SE-2及其联结</option>
          </select>
        </div>
      </div>

      <div class="item">
        <div class="title">
          短信筛查
          <span class="hint">【使用前必读】</span>
        </div>
        <div>
          <select [(ngModel)]="selectMessage">
            <option value="">ASQ-3</option>
            <option value="">ASQ:SE</option>
            <option value="">ASQ:SE-2及其联结</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="quickClick" (click)="showQuickHandler()">
    快速了解三种筛查方式 >
  </div>
</div>
<div class="main" *ngIf="selectScan">
  <h2 class="sub-header">生成二维码 <span class="phone4"></span></h2>
  <div class="process qrcode-process">
    <span style="width:20px;"></span><span style="width:50px;"></span>
    <ul>
      <li class="li2">
        <i class="finished"></i>
        <b>选择筛查模式</b>
      </li>
      <!-- <li>
              <i class="finished"></i>
              <b>填写家长信息生成二维码</b>
          </li> -->
      <li class="current li2" >
        <i class="current">2</i>
        <b class="current">扫描二维码获得问卷</b>
      </li>
    </ul>
    <span style="width:50px;border-bottom: 5px solid #34bb45;"></span><span
      style="width:20px;border-bottom: 5px solid #34bb45;"></span>
  </div>
  <div style="text-align:center;">
    <!-- 		<button class="btn btn-default btnDirect">直接答题</button> -->
    <!--   		<button class="btn btn-default btnScan">生成二维码</button> -->
    <!-- 	<button class="btn btn-default nowBtnScan">生成二维码</button> -->
    <input type="hidden" value="14" class="doctorid">
    <input type="hidden" value="33" class="did"><br>
    <div class="qrcodeBox">
      <qr-code [value]="qrcodeUrl" [level]="'Q'" [size]="300"></qr-code>
    </div>
    <p style="font-size:18px;">扫一扫<br>获取您的问卷</p>
    <p>(亲爱的用户，您已不需要输入验证码，该步骤已置于家长手机端，请您放心使用!)</p>
    <button class="btnRefresh">刷新</button>
  </div>

</div>