<div class="baby-add-manage vertical-layout" *ngIf="!selectScan">
  <toast-window *ngIf="showAuthorize"  (closeEvent)="closeAuthorize()">
    <authorize-box (gotoSearch)="gotoSearch()"></authorize-box>
  </toast-window>

  <toast-window *ngIf="showOldMember" (closeEvent)="closeOld()">
    <baby-in-member [Am]="Am" [At]="At"></baby-in-member>
  </toast-window>

  <toast-window *ngIf="showQuick" (closeEvent)="closeQuick()">
    <quick-box></quick-box>
  </toast-window>
  <div class="vertical-header">
    <div class="title green-title large-title underline-title">添加宝宝</div>
  </div>
  
  <div class="vertical-main">
    <div class="form-group">
      <label class="control-label col-sm-3">
        <span>*</span> 问卷中的填空题是否必须填写：</label
      >
      <div class="col-sm-3">
        <label
          ><input
            type="radio"
            name="At"
            value="1"
            [(ngModel)]="At"
          />必填</label
        >&nbsp;&nbsp;&nbsp;
        <label
          ><input
            type="radio"
            name="At"
            value="0"
            [(ngModel)]="At"
          />非必填</label
        >
      </div>
    </div>
    <!-- <div class="form-group">
      <label class="control-label col-sm-3">
        <span>*</span> 是否允许家长在手机上查看报告：</label
      >
      <div class="col-sm-3">
        <label
          ><input
            type="radio"
            name="Am"
            value="1"
            [(ngModel)]="Am"
          />是</label
        >&nbsp;&nbsp;&nbsp;
        <label
          ><input
            type="radio"
            name="Am"
            value="0"
            [(ngModel)]="Am"
          />否</label
        >
      </div>
    </div> -->
    <div class="process">
      <ul class="col-sm-10" style="margin: 0 auto">
        <li class="current">
          <i>1</i>
          <b>选择筛查模式</b>
        </li>
        <li>
          <i>2</i>
          <b>填写家长信息生成二维码</b>
        </li>
        <li>
          <i>3</i>
          <b>扫描二维码获得问卷</b>
        </li>
      </ul>
    </div>
    <div class="wrapper col-sm-10" style="margin: 0px auto; margin-top: 20px">
      <div class="item">
        <div class="title">直接筛查</div>
        <div>
          <select [(ngModel)]="selectUser" (ngModelChange)="changeUser()">
            <option value="" disabled>请选择</option>
            <!-- <option value="0">新用户</option> -->
            <option value="1">直接筛查</option>
          </select>
        </div>
      </div>

      <div class="item">
        <div class="title">扫码筛查</div>
        <div>
          <select [(ngModel)]="selectScan" (ngModelChange)="changeScan($event)">
            <option value="" disabled>请选择</option>
            <option value="ASQ-3">ASQ-3</option>
            <option value="ASQ:SE-2">ASQ:SE-2</option>
            <!-- <option value="ASQ:SE">ASQ:SE</option>
            <option value="ASQ:SE-2">ASQ:SE-2及其联结</option> -->
          </select>
        </div>
      </div>

      <div class="item">
        <div class="title">
          短信筛查
          <span class="hint">【使用前必读】</span>
        </div>
        <div>
          <select [(ngModel)]="selectMessage" (ngModelChange)="changeMessage($event)">
            <option value="" disabled>请选择</option>
            <option value="ASQ-3">ASQ-3</option>
            <option value="ASQ:SE-2">ASQ:SE-2</option>
            <!-- <option value="">ASQ:SE</option>
            <option value="">ASQ:SE-2及其联结</option> -->
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="quickClick" (click)="showQuickHandler()">
    快速了解三种筛查方式 >
  </div>
</div>
