.login-manage {
  width: 100%;
  height: 100%;
  background-image: url(/assets/img/login_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  .login-logo {
    position: absolute;
    top: 0;
    left: 0;
  }
  .login-content {
    background-color: #fff;
    border-radius: 20px;
    width: 80%;
    max-width: 330px;
    height: 260px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
