<div class="account-operation">
  <div class="operation-item" [matMenuTriggerFor]="menu">
    <div class="log-out">
      <i class="howell-icon-account"></i>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="display.username">
        <i class="howell-icon-account"></i>
        {{ userName }}
      </button>
      <button
        mat-menu-item
        *ngIf="display.subAccount"
        (click)="selectSubAccount()"
      >
        <i class="howell-icon-department-operator"></i>
        选择子账号
      </button>
      <button
        mat-menu-item
        (click)="changePassword($event)"
        *ngIf="display.changePassword"
      >
        <i class="mdi mdi-key" style="margin-right: 5px"></i>
        修改密码
      </button>
      <button
        mat-menu-item
        (click)="bindMobile($event)"
        *ngIf="display.bindMobile"
      >
        <i class="mdi mdi-cellphone-iphone" style="margin-right: 5px"></i>
        绑定新手机
      </button>
      <button mat-menu-item (click)="logoutHandler()" *ngIf="display.logout">
        <i class="howell-icon-logout"> </i>
        退出登录
      </button>
    </mat-menu>
  </div>
</div>
