<!-- <div class="account-operation">
  <div class="operation-link item">
    <a
      href="http://www.neoballoon.com/ASQ/main.html"
      [class.jump]="currentAccount == 'family'"
      >家庭版</a
    >/<a [class.jump]="currentAccount == 'company'">企业版</a>
  </div>
  <div class="account-title item">您好,示教1</div>
  <button class="reverse-green-button item" type="button">返回首页</button>
  <button class="reverse-green-button item" type="button">登出</button>
</div> -->

<div class="account-operation">
  <div class="operation-item" [matMenuTriggerFor]="menu">
    <div class="log-out">
      <i class="howell-icon-account"></i>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngIf="display.username">
        <i class="howell-icon-account pmx"></i>
        {{ userName }}
      </button>
      <button mat-menu-item *ngIf="display.subAccount">
        <i class="howell-icon-account pmx"></i>
        选择子账号
      </button>
      <button
        mat-menu-item
        (click)="changePassword($event)"
        *ngIf="display.changePassword"
      >
        <i class="mdi mdi-key" style="margin-right: 5px"></i>
        修改密码
      </button>
      <button
        mat-menu-item
        (click)="bindMobile($event)"
        *ngIf="display.bindMobile"
      >
        <i class="mdi mdi-cellphone-iphone" style="margin-right: 5px"></i>
        绑定新手机
      </button>
      <button mat-menu-item (click)="logoutHandler()" *ngIf="display.logout">
        <i class="howell-icon-logout"> </i>
        退出登录
      </button>
    </mat-menu>
  </div>
</div>
