<div class="baby-add">
  <div class="title green-title large-title">添加宝宝</div>

  <!-- <div class="operation">
    <div class="left-wrapper">
      <select>
        <option value="">ASQ-3</option>
        <option value="">ASQ:SE</option>
        <option value="">ASQ:SE-2及其联结</option>
      </select>

      <select>
        <option value="">个人档案</option>
        <option value="">全部档案</option>
      </select>
    </div>
    <div class="right-wrapper">
      <input type="text" />
      <button>筛选</button>
    </div>
  </div> -->

  <!-- <div class="table-container"></div> -->
</div>
