.neoballoon-manage {
  width: 100%;
  height: 100%;
  @header-height: 50px;
  &-header {
    width: 100%;
    height: @header-height;
  }
  &-body {
    width: 100%;
    height: calc(100% - @header-height);
    display: flex;

    .side-nav {
      width: 200px;
    }

    
  }
}

.side-nav-main {
  flex-grow: 1;
  padding: 20px;
  width: 0;
  overflow: auto;
}

@media screen and (max-width: 860px) {
  .side-nav-main {
    padding: 0px;
  }
}
