<div class="authorize-box inner-popped">
  <div class="popped-header">
    <div class="normal-title center-title underline-title">
      ASQ筛查授权同意书
    </div>
  </div>
  <div class="popped-main authorizeBox">
    <p class="bold">
      您，作为儿童的法定监护人或家长，已明确知晓本服务所涉及的用户协议以及与之相关的使用条款和隐私政策的内容,并同意该些内容。如您未阅读、理解并同意该些内容，请您不要在文末点击打勾，不要接受本次服务。
    </p>
    <p>
      您已明确知晓，本服务是采用ASQ儿童发育筛查系统对儿童进行发育水平的评测。<font
        class="underline"
        >您可以自主选择使用或不使用该系统，也可以自主选择自行填写或委托他人按照您的指示填写。</font
      >
    </p>
    <p>
      一、信息、数据的种类及获得方式<br />
      为了对儿童进行发育水平的评测，我们将合法收集、储存包括您和儿童的基本信息，详细请见ASQ儿童发育筛查系统具体问卷。<br />
      <font class="underline"
        >您可以选择是否填写或向我们提供特定的信息。请您理解，如果您不填写或提供某些特定的信息，将可能导致我们的产品或服务无法正常运行，或者无法达到我们拟达到的服务效果。</font
      >
    </p>
    <p>
      二、信息、数据的保护及保存期限<br />
      我们为您的信息提供相应的安全保障，以防止信息的丢失、不当使用、被篡改、未经授权访问或披露，包括：<br />
      (1) 我们严格遵守法律法规保护您和儿童的个人信息；<br />
      (2) 我们将在合法合理的安全水平内使用各种安全保护措施以保障信息的安全；<br />
      (3) 我们建立专门的管理制度、操作规程和组织以保障信息的安全。<br />
      一般而言，我们仅在为实现处理信息的目的（详见本授权同意书第（3）条）所必需的时间及法律、行政法规所规定的保存期限保留你的个人信息。<br />
    </p>

    <p>
      三、处理信息、数据的目的、方式和范围<br />
      (1)
      <font class="underline">如果您是接受筛查的儿童的监护人或家长</font
      >，医院向您推荐本产品时，请您务必认真阅读ASQ儿童发育筛查系统的协议（包括用户协议、隐私政策等），如果您确认并同意前述协议内容，也意味着您已授权同意<font
        class="underline"
        >上海杖元信息科技有限公司有权将您的个人及儿童个人信息进行收集、储存，并依法提供给该医院作后续的诊断医疗和医学研究；</font
      ><br />
      (2)
      <font class="underline">如果您是接受筛查的儿童的监护人或家长</font
      >，早教机构向您推荐本产品时，请您务必认真阅读ASQ儿童发育筛查系统的协议（包括用户协议、隐私政策等），如果您确认并同意前述协议内容，也意味着您已授权同意<font
        class="underline"
        >上海杖元信息科技有限公司有权将您的个人及儿童个人信息进行收集、储存，并依法提供给该早教机构用于早教相关服务；</font
      ><br />
      (3)
      <font class="underline">如果您是科研机构征选的志愿者</font
      >，科研机构让您使用本产品时，请您务必认真阅读ASQ儿童发育筛查系统的协议（包括用户协议、隐私政策等），如果您确认并同意前述协议内容，也意味着您已授权同意<font
        class="underline"
        >上海杖元信息科技有限公司有权将您的个人及儿童个人信息进行收集、储存，并依法提供给该科研机构用于相关科研项目</font
      >。<br />
      我们在与前述医院、早教机构以及科研机构（以下合称“合作机构”）合作的过程中，将遵守法律规定，按照最小必要原则，安全审慎处理相关数据、信息。我们将按照法律法规的规定，对数据、信息处理涉及的合作机构进行严格的限制，要求其严格遵守我们关于数据隐私保护的措施与要求。<br />
      如存在需要将您和儿童的个人信息共享或转让至本公司及上述合作机构外的第三方时，我们会直接征得或确认第三方征得您对上述行为的明示同意。如为业务发展需要从第三方获取您和儿童的个人信息、数据，我们会依法核实来源的合法性，或在获取前向您明示您和儿童的个人信息、数据的来源、类型及适用范围。<br />
      另外，根据相关法律法规及国家标准，以下情形中，我们可能会处理您和您所监护的儿童的相关个人信息而无需征求您的授权同意：<br />
      (a) 为个人信息处理者履行法定义务或法定职责所必须；<br />
      (b) 为订立、履行您作为一方当事人的合同所必需；<br />
      (c)
      为应对突发公共卫生事件，或者紧急情况下为保护自然人的生命健康和财产安全所必需；<br />
      (d) 依法在合理的范围内处理您自行公开或者其他已经合法公开的个人信息；<br />
      (e) 法律、行政法规规定的其他情形。<br />
    </p>
    <p>
      四、联系信息<br />
      我们设立了专门的个人信息保护团队/负责人，如果您对本授权书或个人信息保护相关事宜有任何疑问、投诉、建议或者需要撤回针对您和儿童的个人信息处理的授权和同意的，您可以通过以下任意方式与我们联系：<br />
      (1) 通过网址<a href="http://www.neoballoon.com/"
        >http://www.neoballoon.com/</a
      >与我们联系；<br />
      (2) 将您的问题发送至邮箱sales@neoballoon.com，联系人：王若水；<br />
      (3)
      寄到如下地址上海市闵行区闵虹路166弄中庚环球创意中心T2-1609，联系人：王若水。<br />
    </p>
  </div>
  <div class="popped-footer">
    <div class="popped-footer-item">
      <div>
        <input
          type="checkbox"
          name="auto-login"
          id="autoLogin"
          style="margin-right: 5px"
          [(ngModel)]="agree"
        />
        <label for="autoLogin" style="margin: 0"
          >我已经阅读并理解前述内容，并且同意接受条款的约束</label
        >
      </div>
    </div>
    <div class="popped-footer-item">
      <button
        class="hw-normal-btn green-btn"
        type="button"
        style="width: 170px"
      >
        下一步
      </button>
    </div>
  </div>
</div>
