<div class="baby-setting">
  <div class="title green-title large-title">系统操作</div>
  <div class="btns">
    <button
      class="hw-normal-btn"
      [class.gray-btn]="model != BabySettingModel.manualDownload"
      [class.green-btn]="model == BabySettingModel.manualDownload"
      (click)="model = BabySettingModel.manualDownload"
    >
      使用手册
    </button>
    <button
      class="hw-normal-btn gray-btn"
      [class.gray-btn]="model != BabySettingModel.systemUsage"
      [class.green-btn]="model == BabySettingModel.systemUsage"
      (click)="model = BabySettingModel.systemUsage"
    >
      系统使用Q&A
    </button>
    <button
      class="hw-normal-btn gray-btn"
      [class.gray-btn]="model != BabySettingModel.updateBox"
      [class.green-btn]="model == BabySettingModel.updateBox"
      (click)="model = BabySettingModel.updateBox"
    >
      更新日志
    </button>
  </div>
  <div class="wrapper">
    <ng-container [ngSwitch]="model">
      <manual-download
        *ngSwitchCase="BabySettingModel.manualDownload"
      ></manual-download>
      <system-usage *ngSwitchCase="BabySettingModel.systemUsage"></system-usage>
      <update-box *ngSwitchCase="BabySettingModel.updateBox"></update-box>
    </ng-container>
  </div>
</div>
