<div class="survey-manage vertical-layout">
  <div class="vertical-header">
    <div class="baby-list">
      <div
        class="baby-item"
        [class.active]="currentBaby == baby"
        *ngFor="let baby of babys; let i = index"
        (click)="currentBaby = baby"
      >
        {{ baby.name }}
      </div>
    </div>
    <div style="width: 100%; margin: 20px 0">
      <button class="hw-small-btn gray-btn">
        <img src="assets/img/back.png" alt="" />返回
      </button>
    </div>
  </div>

  <div class="vertical-main vertical-layout">
    <div class="wrapper vertical-header">
      <div
        class="item"
        [class.active]="currentIndex == surveyBtn.index"
        *ngFor="let surveyBtn of surveyBtns"
        (click)="clickSurveyBtn(surveyBtn)"
      >
        <div class="icon">
          <ng-container *ngIf="currentIndex != surveyBtn.index">
            <img [src]="'assets/img/' + surveyBtn.normalIcon" alt="" />
          </ng-container>
          <ng-container *ngIf="currentIndex == surveyBtn.index">
            <img [src]="'assets/img/' + surveyBtn.activeIcon" alt="" />
          </ng-container>
          <span class="sub-icon">{{ surveyBtn.subIcon }}</span>
        </div>
        <div class="content">{{ surveyBtn.content }}</div>
      </div>
    </div>
    {{ currentIndex }}
    <div class="swiper-container vertical-main" style="min-height: 500px">
      <swiper [config]="config">
        <ng-template swiperSlide class="red" *ngFor="let month of currentMonth">
          <div class="item">
            <p>{{ month[0] | trimoffset }}</p>
            月
            <span class="status">未开始</span>
            <div class="appendix">
              适用于
              <br />
              {{ month[1] }}
              <br />
              |
              <br />
              {{ month[2] }}{{ month[3] }}
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
<button (click)="submit()">Submit</button>
