<div class="survey-manage vertical-layout">
  <div class="vertical-header">
    <div class="baby-list">
      <div
        class="baby-item"
        [class.active]="currentBaby == baby"
        *ngFor="let baby of babys; let i = index"
        (click)="changeBaby(baby)"
      >
        {{ baby.Name }}
      </div>
    </div>
    <div style="width: 100%; margin: 20px 0">
      <button class="hw-small-btn gray-btn" (click)="goBack()">
        <img src="assets/img/back.png" alt="" />返回
      </button>
    </div>
  </div>

  <div class="vertical-main vertical-layout">
    <div class="wrapper vertical-header">
      <div
        class="item"
        [class.active]="currentType == surveyBtn.questType"
        *ngFor="let surveyBtn of surveyBtns"
        (click)="clickSurveyBtn(surveyBtn)"
      >
        <div class="icon">
          <ng-container *ngIf="currentType != surveyBtn.questType">
            <img [src]="'assets/img/' + surveyBtn.normalIcon" alt="" />
          </ng-container>
          <ng-container *ngIf="currentType == surveyBtn.questType">
            <img [src]="'assets/img/' + surveyBtn.activeIcon" alt="" />
          </ng-container>
          <span class="sub-icon">{{ surveyBtn.subIcon }}</span>
        </div>
        <div class="content">{{ surveyBtn.content }}</div>
      </div>
    </div>
    <div class="swiper-container vertical-main" style="min-height: 400px">
      <swiper [config]="config">
        <ng-template
          swiperSlide
          class="red"
          *ngFor="let month of currentSwiperMonth; let i = index"
        >
          <div class="item">
            <p>{{ month[0] | trimoffset }}</p>
            月
            <ng-container *ngIf="currentMonthIndex != i">
              <ng-container *ngIf="!checkScreen(i)">
                <span class="status">未开始</span>
                <div class="appendix">
                  适用于
                  <br />
                  {{ month[1] }}
                  <br />
                  |
                  <br />
                  {{ month[2] }}{{ month[3] }}
                </div>
              </ng-container>
              <ng-container *ngIf="checkScreen(i)">
                <span class="status active">已完成</span>
                <div class="appendix">
                  适用于
                  <br />
                  {{ month[1] }}
                  <br />
                  |
                  <br />
                  {{ month[2] }}{{ month[3] }}
                </div>
              </ng-container>
              
            </ng-container>

            <ng-container *ngIf="currentMonthIndex == i">
              <ng-container *ngIf="!checkScreen(i)">
                <span class="status active">可筛查</span>
                <div class="appendix active">
                  您的宝宝
                  <br />
                  该做此套问卷啦
                </div>
                <div class="hw-small-btn start-btn" (click)="gotoEntry($event)">
                  立即筛查
                </div>
                
              </ng-container>
              <ng-container *ngIf="checkScreen(i)">
                <span class="status active">已完成</span>
                <div class="appendix active">
                  您的宝宝
                  <br />
                  已完成此套问卷啦
                </div>
                <div class="hw-small-btn refresh-btn" (click)="gotoEntry($event)">
                  <img src="assets/img/refresh.png" />重复筛查
                </div>
                
              </ng-container>
              <div class="birthday">您的宝宝<span>{{currentBaby?.Rectifyage}}</span>啦</div>
            </ng-container>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
