<!-- <div class="survey-manage vertical-layout">
  <div class="vertical-header">
    <div class="baby-list">
      <div class="baby-item">
        <img src="assets/img/baby.png" alt="" />
        王一
      </div>
    </div>
    <div style="width: 100%; margin: 20px 0">
      <button class="hw-small-btn gray-btn">
        <img src="assets/img/back.png" alt="" />返回
      </button>
    </div>
  </div>

  <div class="vertical-main vertical-layout">
    <div class="wrapper vertical-header">
      <div class="item">
        <div class="title">ASQ-3</div>
        <div class="desc">年龄与发育进程问卷——第三版</div>
      </div>
      <div class="item">
        <div class="title">ASQ-3</div>
        <div class="desc">年龄与发育进程问卷——第三版</div>
      </div>
      <div class="item">
        <div class="title">ASQ-3</div>
        <div class="desc">年龄与发育进程问卷——第三版</div>
      </div>
    </div>
    <div class="swiper-container vertical-main" style="min-height: 500px">
      <swiper [config]="config">
        <ng-template swiperSlide class="red">
          <div class="item">
            <p>2</p>
            月
            <span class="status">未开始</span>
            <div class="appendix">
              适用于
              <br />
              1个月0天
              <br />
              |
              <br />
              2个月30天宝宝
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="green"
          ><div class="item">
            <p>2</p>
            月
            <span class="status">未开始</span>
            <div class="appendix">
              适用于
              <br />
              1个月0天
              <br />
              |
              <br />
              2个月30天宝宝
            </div>
          </div></ng-template
        >
        <ng-template swiperSlide class="blue">
          <div class="item">
            <p>2</p>
            月
            <span class="status">未开始</span>
            <div class="appendix">
              适用于
              <br />
              1个月0天
              <br />
              |
              <br />
              2个月30天宝宝
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="red">
          <div class="item">
            <p>2</p>
            月
            <span class="status">未开始</span>
            <div class="appendix">
              适用于
              <br />
              1个月0天
              <br />
              |
              <br />
              2个月30天宝宝
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="red">
          <div class="item">
            <p>2</p>
            月
            <span class="status">未开始</span>
            <div class="appendix">
              适用于
              <br />
              1个月0天
              <br />
              |
              <br />
              2个月30天宝宝
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="red">
          <div class="item">
            <p>2</p>
            月
            <span class="status">未开始</span>
            <div class="appendix">
              适用于
              <br />
              1个月0天
              <br />
              |
              <br />
              2个月30天宝宝
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="red">
          <div class="item">
            <p>2</p>
            月
            <span class="status">未开始</span>
            <div class="appendix">
              适用于
              <br />
              1个月0天
              <br />
              |
              <br />
              2个月30天宝宝
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="red">
          <div class="item">
            <p>2</p>
            月
            <span class="status">未开始</span>
            <div class="appendix">
              适用于
              <br />
              1个月0天
              <br />
              |
              <br />
              2个月30天宝宝
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="red">
          <div class="item">
            <p>2</p>
            月
            <span class="status">未开始</span>
            <div class="appendix">
              适用于
              <br />
              1个月0天
              <br />
              |
              <br />
              2个月30天宝宝
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="red">
          <div class="item">
            <p>2</p>
            月
            <span class="status">未开始</span>
            <div class="appendix">
              适用于
              <br />
              1个月0天
              <br />
              |
              <br />
              2个月30天宝宝
            </div>
          </div>
        </ng-template>
        <ng-template swiperSlide class="red">
          <div class="item">
            <p>2</p>
            月
            <span class="status">未开始</span>
            <div class="appendix">
              适用于
              <br />
              1个月0天
              <br />
              |
              <br />
              2个月30天宝宝
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div> -->

<!-- <asq3-entry></asq3-entry> -->

<asq3-test></asq3-test>
